:root {
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --red: hsl(0, 100%, 50%);
    --optional: hsl(120, 74%, 45%);
    --tomato: hsl(9, 100%, 64%);
    --highlight-rule: hsl(191, 100%, 60%);
    --primary: hsl(0, 0%, 0%);
    --gray-light: hsl(240, 5%, 88%);
    --gray-dark: hsl(0, 0%, 20%);
}