<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />
</head>

<body>
    <header id="header"></header>
    <main class="container">
        <div>
            <h2 id="first-year">First year subject list</h2>
            <ul>
                <li>
                    <a href="principles_of_accounting.html">Principles of Accounting</a>
                </li>
                <li>
                    <a href="principles_of_finance.html">Principles of Finance</a>
                </li>
                <li>
                    <a href="principles_of_management.html">Principles of Management</a>
                </li>
                <li>
                    <a href="principles_of_marketing.html">Principles of Marketing</a>
                </li>
                <li>
                    <a href="micro_economics.html">Micro Economics</a>
                </li>
                <li>
                    <a href="history_of_the_emergence_of_independent_bangladesh.html">History of the Emergence of Independent Bangladesh</a>
                </li>
            </ul>
        </div>
        <div>
            <h2 id="#second-year">Second year subject list</h2>
        </div>
        <div>
            <h2 id="#third-year">Third year subject list</h2>
        </div>
        <div>
            <h2 id="#fourth-year">Fourth year subject list</h2>
        </div>
    </main>
    <footer id="footer"></footer>
</body>

</html>