@forward './accounting';
@forward './home';
@forward './note';
@forward './principles_of_finance';

.page-layout {
    display: grid;
    grid-template-rows: max-content max-content auto max-content;

    & .back-to-top {
        display: none;
    }
}

p {
    margin-bottom: 1.5rem;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table,
td,
th {
    border: 1px solid;
}

th,
td {
    padding: 1rem;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

ol.custom-list {
    list-style-type: decimal;
    padding-left: 1.4rem;
}

.bt-1 {
    border-top: 1px solid;
    display: inline-block;
}

.d-none {
    display: none;
}