@use "../abstracts" as *;

.gap {
    gap: 5px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

// To fit the rules in one line when view in mobile landscape mode.
.table {
    width: 200vw;

    @include mq(desktop-up) {
        width: 100%;
    }
}

.finance-rule-table a{
    text-decoration: none;
}

.d-none {
    display: none;
}

.bt-1 {
    border-top: 1px solid;
    display: inline-block;
}