<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />
</head>

<body>
    <nav id="navigation" class="navigation" role="navigation"></nav>
    <main class="container">
        <section id="section-a" class="section-a">
            <h2 class="question-section">Section A</h2>
            <h3>কোন গ্রন্থে সর্বপ্রথম 'বঙ্গ' নামের উল্লেখ পাওয়া যায়? (In which book first we find the term 'Banga'?)</h3>
            <p>উত্তর: ঐতরেয় আরণ্যক গ্রন্থে 'বঙ্গ' নামের উল্লেখ পাওয়া যায়।</p>
            <h3>বাঙালিদের উপর কোন নরগোষ্ঠীর প্রভাব সবচেয়ে বেশি? (Which human race has great impact on the Bangalee?)</h3>
            <p>উত্তর: অস্ট্রিক নরগোষ্ঠীর।</p>
            <h3>ভূ-প্রাকৃতগত বৈশিষ্ট্য অনুযায়ী বাংলাদেশকে কয়টি ভাগে ভাগ করা যায় ও কি কি?</h3>
            <p>উত্তর: ভূ-প্রকৃতিগত বৈশিষ্ট্য অনুযায়ী বাংলাদেশকে তিন ভাগে ভাগ করা যায়।</p>
            <h3> বাংলাদেশের সবচেয়ে উঁচু পর্বতশৃঙ্গের নাম কি? (What is the name of the highest mountain peak of Bangladesh?)</h3>
            <p>উত্তর: তাজিংড (বিজয়) রুমা, বান্দরবানে অবস্থিত।</p>
            <h3>বাংলাদেশের দীর্ঘতম নদীর নাম কি?</h3>
            <p>উত্তর:</p>
            <h3>কোন প্রাচীন গ্রন্থে বাংলার নাম পাওয়া যায়?</h3>
            <p>উত্তর:</p>
            <h3>বাংলাদেশের বৃহত্তম পাহাড়ের নাম কি ছিল?</h3>
            <p>উত্তর:</p>
            <h3>জনপদ কি? বাংলা জনপদগুলোর নাম লিখ?</h3>
            <p>উত্তর:</p>
            <h3>পৃথিবীর বৃহত্তম ব-দ্বীপ কোনটি?</h3>
            <p>উত্তর:</p>
            <h3>বাংলা ভাষার উদ্ভব হয়েছে কোন ভাষা থেকে? (From which language has the Bengali language originated?)</h3>
            <p>উত্তর: বাংলা ভাষার উদ্ভব হয়েছিল ইন্দো-ইউরোপীয় ভাষা থেকে।</p>
            <h3>বাংলা ভাষার আদি নিদর্শনের নাম কি? (What is the name of the oldest specimen of Bangla?)</h3>
            <p>উত্তর: বাংলা ভাষায় আদি নিদর্শনের নাম হলো- চর্যাপদ।</p>
            <!-- Chapter 2 -->
            <h3>লাহোর প্রস্তাব কি ছিল? ঐতিহাসিক লাহোর প্রস্তাব উধাপিত হয় কত সালে?</h3>
            <p>উত্তর:</p>
            <h3>ঐতিহাসিক লাহোর প্রস্তাব উত্থাপিত হয় কত সালে? (When was the historical Lahore the Resolution presented?)?</h3>
            <p>উত্তর: ঐতিহাসিক লাহোর প্রস্তাব উত্থাপিত হয় ২৩ মার্চ ১৯৪০ সালে।</p>
            <h3>লাহোর প্রস্তাব কে উত্থাপন করেন? (Who proposed the Lahore Resolution?)</h3>
            <p>উত্তর: শেরে বাংলা এ. কে. ফজলুল হক।</p>
            <h3>লাহোর প্রস্তাব কোথায় উদযাপন করেন?</h3>
            <p>উত্তর:</p>
            <h3>বঙ্গভঙ্গ কবে এবং কখন রথ করা হয়?</h3>
            <p>উত্তর:</p>
            <h3>অবিভক্ত বাঙলার প্রথম মুখ্যমন্ত্রী কে ছিলেন? (Who was the first Chief Minister of the undivided Bengali?)</h3>
            <p>উত্তর: অবিভক্ত বাংলার প্রথম মুখ্যমন্ত্রী ছিলেন <strong>শেরে বাংলা এ. কে. ফজলুল হক</strong>।</p>
            <h3>অবিভক্ত বাঙলার শেষ মুখ্যমন্ত্রী কে ছিলেন? (Who was the last Chief Minister of the undivided Bengali? )</h3>
            <p>উত্তর: অবিভক্ত বাংলার প্রথম মুখ্যমন্ত্রী ছিলেন <strong>হোসেন শহীদ সোহরাওয়ার্দী</strong>।</p>
            <h3>বঙ্গ জনপদটি কোন অঞ্চল নিয়ে গঠিত?</h3>
            <p>উত্তর:</p>
            <h3>দ্বিজাতি তত্ত্ব কি? দ্বিজাতি তত্ত্বের প্রবক্তা কে?</h3>
            <p>উত্তর: ধর্মের ভিত্তিতে ভারতীয় উপমহাদেশের হিন্দু এবং মুসলমানকে পৃথক জাতি হিসেবে আখ্যায়িত করে পাকিস্তানের প্রতিষ্ঠাতা মুহাম্মদ আলী জিন্নাহ যে ধারণা বা তত্ত্ব তুলে ধরেন ইতিহাসে তা দ্বিজাতি তত্ত্ব নামে পরিচিত।</p>
            <h3>পূর্ববাংলার গভর্নর কে ছিলেন? (What was the first Governor of East Bengal?)</h3>
            <p>উত্তর: স্যার ফ্রেডারিক চালমার্স বোর্ন।</p>
            <!-- Chapter 3 -->
            <h3>ভারত স্বাধীনতা আইন কত সালে প্রণীত হয়? (When the Indian Independence Act was sanctioned?)</h3>
            <p>উত্তর: ১৯৪৭ সালের ১৮ জুলাই ভারত স্বাধীনতা আইন প্রণীত হয়।</p>
            <h3>কোন আইন দ্বারা ১৯৪৭ সালে ভারত বিভক্ত হয়েছিল?</h3>
            <p>উত্তর: ১৯৪৭ সালের ভারতীয় স্বাধীনতা অধিনিয়ম ১৯৪৭ হল যুক্তরাজ্যের সংসদের একটি আইন, যার ফলে বিভক্ত ব্রিটিশ ভারত এবং পাকিস্তানে পরিণত হয়েছে।</p>
            <h3>স্বাধীন পাকিস্তানের প্রথম গভর্নর জেনারেল কে?</h3>
            <p>উত্তর: মুহাম্মদ আলী জিন্নাহ।</p>
            <h3>অখন্ড স্বাধীন বাংলা গঠনের প্রস্তাব করেন কত তারিখে?</h3>
            <p>উত্তর:</p>
            <h3>অখণ্ড স্বাধীন বাংলা গঠনের প্রস্তাবক কে ছিলেন? (Who propaused for the creation of undivided independent Bengal?)</h3>
            <p>উত্তর: হোসেন শহীদ সোহরাওয়ার্দী।</p>
            <h3>পাকিস্তানের প্রথম প্রধানমন্ত্রী কে ছিলেন?</h3>
            <p>উত্তর: লিয়াকত আলী খান।</p>
            <h3>পাকিস্তানের সংবিধান কত সালে প্রণীত হয়?</h3>
            <p>উত্তর:</p>
            <!-- Chapter 4 -->
            <h3>১৯৫৪ সালের নির্বাচনে যুক্তফ্রন্ট কত দফা ঘোষণা করে? (How many points did the United Front declared in the Election of 1954?)</h3>
            <p>উত্তর: ২১ দফা কর্মসূচি ঘোষণা করেন।</p>
            <h3>১৯৫৪ সালের প্রাদেশিক পরিষদের নির্বাচনে যুক্তফ্রন্টের নির্বাচনী প্রতীক কি ছিল? (What was the symbol of united front of provincial assembly election in 1954?)</h3>
            <p>উত্তর: নৌকা।</p>
            <h3>ভাষা আন্দোলনের দুজন শহীদের নাম লিখ</h3>
            <p>উত্তর: </p>
            <h3>কখন সংবিধানে বাংলাকে পাকিস্তানের অন্যতম রাষ্ট্রভাষা হিসেবে স্বীকৃতি দেওয়া হয়? (In which year Bengali was recognised as one of the main state language in the constitution of Pakistan?)</h3>
            <p>উত্তর: ১৯৫৬ সালে।</p>
            <h3>জাতিসংঘের কোন সংস্থা একুশে ফেব্রুয়ারিকে আন্তর্জাতিক মাতৃভাষা দিবস হিসেবে ঘোষণা করে? (Which United Nations organization declares February 21 as International Mother Language Day?)</h3>
            <p>উত্তর: ইউনেস্কো (UNESCO) ২১শে ফেব্রুয়ারিকে আন্তর্জাতিক মাতৃভাষা দিবস হিসেবে ঘোষণা করে।</p>
            <h3>রাষ্ট্রভাষা সংগ্রাম পরিষদ কবে গঠিত হয়? (When was the State Language Movement Council formed?)</h3>
            <p>উত্তর: ১ অক্টোবর ১৯৪৭ সালে।</p>
            <h3>কোন তারিখে আন্তর্জাতিক মাতৃভাষা দিবস ও শহীদ দিবস পালিত হয়? (On which date is International Mother Language Day and Martyr's Day celebrated?)</h3>
            <p>উত্তর: ২১শে ফ্রেবুয়ারী</p>
            <h3>আমার ভাইয়ের রক্তে রাঙানো একুশে ফেব্রুয়ারি গানটির গীতিকার কে?</h3>
            <p>উত্তর: সাংবাদিক ও লেখক আবদুল গাফফার চৌধুরী</p>
            <h3>কে এবং কত সালে আওয়ামী মুসলিম লীগের প্রতিষ্ঠাতা করেন? (Who and in what year the Awami Muslim League was founded?)</h3>
            <p>উত্তর: ২৩ জুন, ১৯৪৯ সালে হোসেন শহীদ সোহ্‌রাওয়ার্দী আওয়ামী মুসলিম লীগ প্রতিষ্ঠা করেন।</p>
            <h3>আওয়ামী মুসলিম লীগের প্রথম সভাপতি কে ছিলেন? ( Who was the first President of Awami Muslim League?)</h3>
            <p>উত্তর: মওলানা আবদুল হামিদ খান ভাসানী।।</p>
            <h3>কার নেতৃত্বে তমুদ্দুন মজলিশ গঠিত হয়? (Under whose leadership Tamuddin Mazlish was formed?)</h3>
            <p>উত্তর: ঢাকা বিশ্ববিদ্যালয়ের তরুন অধ্যাপক আবুল কাশেমের নেতৃত্বে।</p>
            <!-- Chapter 5 -->
            <h3>পাকিস্তানের প্রথম সামরিক শাসন কে জারি করেন এবং কত সালে? (Who issued the first military rule of Pakistan and in what year?)</h3>
            <p>উত্তর: ১৯৫৮ সালের ৭ই অক্টোবর রাষ্ট্রপতি ইস্কান্দার মির্জা সমগ্র পাকিস্তানে সামরিক আইন জারি করেন</p>
            <h3>মৌলিক গণতন্ত্রের আদেশ কবে জারি করা হয়? (When was the Basic Democracy ordinance proclaimed?)</h3>
            <p>উত্তর: ২৬ অক্টোবর, ১৯৫৯ সালে আইয়ুব খান মৌলিক গণতন্ত্র অধ্যাদেশ জারি করেন।</p>
            <h3>মৌলিক গণতন্ত্রে ভোটাধিকার ছিল কত জনের? (How many people have their right to vote in the Basic Democracy?)</h3>
            <p>উত্তর: আশি হাজার (৮0,000) জনের।</p>
            <h3>EBDO এর পূর্ণরূপ লিখ</h3>
            <p>উত্তর: EBDO এর পূর্ণরূপ হলো- Elective Bodies Disqualification Order.</p>
            <h3>L. F. O এর পূর্ণরূপ কি? (What is the elaboration of L.F.O.?)</h3>
            <p>উত্তর: L.F.O -এর পূর্ণরূপ হলো- Legal Framework Order.</p>
            <h3>PODO এর পূর্ণরূপ লেখ। (What is the full name of PODO?)</h3>
            <p>উত্তর: PODO এর পূর্ণরূপ হলো Public Officer Disqualification Order.</p>
            <!-- Chapter 6 -->
            <h3>ঐতিহাসিক ছয় দফা কবে, কোথায় ঘোষিত হয়। (When and where the historic sixpoint programme was declared?)</h3>
            <p>উত্তর: ১৯৬৬ সালের ৫ই ফেব্রুয়ারি লাহোরে।</p>
            <h3>কোন দাবিকে বাংলার ম্যাগনাকাটা বলা হয়? (Which claim is called Magnakata of Bengal?)</h3>
            <p>উত্তর: ছয়-দফা কর্মসূচিকে কেন বাঙালির ম্যাগনাকার্টা বলা হয়</p>
            <h3>ঐতিহাসিক “ছয়-দফা” কোথায় ঘোষিত হয়? (Where the historic Six Point programme was declared?)</h3>
            <p>উত্তর: ঐতিহাসিক ছয়-দফা ১৯৬৬ সালের ৫ ফেব্রুয়ারি লাহোরে ঘোষিত হয়।</p>
            <h3>১৯৬৯ সালের গণঅভ্যুত্থানে দুজন শহীদের নাম লিখ? (Write the names of two martyrs in the 1969 uprising?)</h3>
            <p>উত্তর: শহীদ আসাদ, শহীদ মতিউর।</p>
            <h3>আগরতলা ষড়যন্ত্র মামলায় কত জনকে আসামি করা হয়েছিল? (How many people were accused in the Agortala conspiracy case?)</h3>
            <p>উত্তর: আগরতলা মামলায় আসামি ছিল ৩৫ জন (বঙ্গবন্ধু শেখ মুজিবুর রহমানসহ)।</p>
            <!-- Chapter 7 -->
            <h3>বঙ্গবন্ধুকে পাকিস্তানের কোন কারাগারে আটক রাখা হয়</h3>
            <p>উত্তর: লায়ালপুর কারাগারে।</p>
            <h3>কে, কখন, কোথায় শেখ মুজিবুর রহমানকে কবে 'বঙ্গবন্ধু' উপাধিতে ভূষিত করা হয়? (Who, when, where Sheikh Mujibur Rahman was awarded the title of Bangabandhu?)</h3>
            <p>উত্তর: তোফায়েল আহমেদ, ২৩ ফেব্রুয়ারি ১৯৬৯ সালে, ঢাকার রেসকোর্স ময়দানে (বর্তমান সোহরাওয়ার্দী উদ্যান)।</p>
            <!-- Chapter 8 -->
            <h3>১৯৭০ সালে নির্বাচনে আওয়ামী লীগ জাতীয় পরিষদের কয়টি আসন লাভ করে</h3>
            <p>উত্তর: </p>
            <h3>অপারেশন জ্যাকপট কি? (What is Operation Jackpot?)</h3>
            <p>উত্তর: বাংলাদেশের স্বাধীনতা যুদ্ধের সময় নৌ-সেক্টর পরিচালিত সফলতম গেরিলা অপারেশনকে অপারেশন জ্যাকপট বলা হয়। অপারেশন জ্যাকপট ছিল একটি আত্মঘাতী অভিযান।</p>
            <h3>7 মার্চ বিখ্যাত কেন</h3>
            <p>উত্তর: ১৯৭১ সালের ৭ই মার্চ বিখ্যাত বঙ্গবন্ধুর রেসকোর্স ময়দানের ভাষণের জন্য।</p>
            <!-- Chapter 9 -->
            <h3>মুক্তিযুদ্ধের সময় বাংলাদেশ কয়টি সেক্টরে বিভক্ত ছিল? (How many sectors were Bangladesh divided during the War of Independence?)</h3>
            <p>উত্তর: মুক্তিযুদ্ধের সময় বাংলাদেশ ১১টি সেক্টরে বিভক্ত ছিল।</p>
            <h3>মুক্তিযুদ্ধের সময় ঢাকা কত নম্বর সেক্টরের অধীন? (Under which sector was Dhaka during the war of liberation ?)</h3>
            <p>উত্তর: ২নং সেক্টরের অধীন ছিল</p>
            <h3>১৯৭১ সালে মহান মুক্তিযুদ্ধে সেনাবাহিনীর সর্বাধিনায়ক কে ছিলেন</h3>
            <p>উত্তর: </p>
            <h3>২৫শে মার্চের গণহত্যার সাংকেতিক নাম কি ছিল? (What was the code name of the genocide of the 25th March ?)</h3>
            <p>উত্তর: ২৫ মার্চের গণহত্যার সাংকেতিক নাম <strong>অপারেশন সার্চলাইট</strong>।</p>
            <h3>অস্থায়ী সরকার কবে, কোথায়, শপথ গ্রহণ করেন</h3>
            <p>উত্তর: </p>
            <h3>বাংলাদেশকে স্বীকৃতিদানকারী প্রথম দেশ কোনটি? (Which country first recognised Bangladesh?)</h3>
            <p>উত্তর: বাংলাদেশকে স্বীকৃতিদানকারী প্রথম দেশ ভারত।</p>
            <h3>স্বাধীন বাংলাদেশের প্রথম রাষ্ট্রপতি কে ছিলেন? (Who was the first president of independent Bangladesh?)</h3>
            <p>উত্তর: বঙ্গবন্ধু শেখ মুজিবুর রহমান স্বাধীন সার্বভৌম বাংলাদেশ সরকারের প্রথম রাষ্ট্রপতি।</p>
            <h3> বাংলাদেশের জাতীয় পতাকার ডিজাইনার কে? (Who is the designer of the national flag of Bangladesh?)</h3>
            <p>উত্তর: বাংলাদেশের জাতীয় পতাকার ডিজাইনার কামরুল হাসান।</p>
            <h3>বাংলাদেশের জাতীয় পতাকা প্রথম কবে ও কোথায় উত্তোলিত হয়? (When and where the National Flag was hoisted for the first time in Bangladesh?)</h3>
            <p>উত্তর: বাংলাদেশের জাতীয় পতাকা প্রথম উত্তোলিত হয় ২ মার্চ ১৯৭১ সালে, ঢাকা বিশ্ববিদ্যালয়ে</p>
            <h3>মুক্তিযুদ্ধের সর্বোচ্চ খেতাব কি? (What is the most gallantry award of the War of Liberation ?)</h3>
            <p>উত্তর: মুক্তিযুদ্ধের সর্বোচ্চ খেতাব বীরশ্রেষ্ঠ।</p>
            <h3>মুক্তিযুদ্ধ চলাকালীন সময় বাংলাদেশের প্রধানমন্ত্রী কে ছিলেন</h3>
            <p>উত্তর: </p>
            <h3>বাংলাদেশের মুক্তিযুদ্ধের সর্বাধিনায়ক কে ছিলেন? বাংলাদেশের স্বাধীনতা সংগ্রামী নায়ক কে? (Who was the commander-in-chief of Bangladesh's liberation war? Who is the freedom fighter of Bangladesh?)</h3>
            <p>উত্তর: বঙ্গবন্ধু শেখ মুজিবুর রহমান।</p>
            <h3>১৯৭১ সালের অস্থায়ী সরকারের রাষ্ট্রপতি কে ছিলেন? ( Who was the President of the Provisional Government in 1971?)</h3>
            <p>উত্তর: বঙ্গবন্ধু শেখ মুজিবুর রহমান।</p>
            <!-- Chapter 10 -->
            <h3>বাংলাদেশের সংবিধান কবে গণপরিষদে উত্থাপিত হয়</h3>
            <p>উত্তর: </p>
            <h3>বাংলাদেশ সংবিধান কত তারিখ থেকে কার্যকর হয়েছে? (On which date the Constitution of Bangladesh come to effect)</h3>
            <p>উত্তর: ১৬ ডিসেম্বর, ১৯৭২ সালে।</p>
            <h3>বাংলাদেশ কবে জাতিসংঘের সদস্য পদ লাভ করে? (When did Bangladesh get the membership of the U.N.O?)</h3>
            <p>উত্তর: ১৯৭৪ সালের ১৭ সেপ্টেম্বর।</p>
            <h3>'বাকশাল' এর পূর্ণরূপ কি? (What is the full form of 'BAKSAL'?)</h3>
            <p>উত্তর: বাকশাল-এর পূর্ণরূপ হলো- বাংলাদেশ কৃষক শ্রমিক আওয়ামী লীগ।</p>
            <h3>বঙ্গবন্ধু কত তারিখে স্বদেশ প্রত্যাবর্তন করেন? (In which date did Bangabandhu return homeland?)</h3>
            <p>উত্তর: বঙ্গবন্ধু শেখ মুজিবুর রহমান স্বদেশ প্রত্যাবর্তন করেন ১৯৭২ সালের জানুয়ারি মাসের ১০ তারিখে।</p>
            <h3>বঙ্গবন্ধু কত তারিখে সপরিবারে নিহত হন? (In which date Bangabandu and his family killed?)</h3>
            <p>উত্তর: ১৫ আগস্ট, ১৯৭৫ সালে।</p>
            <!-- Extra -->
            <h3>পদ্ম নদী কোথায় মেঘনা নদীর সাথে মিশেছে? (Where the river Padma mearged with the river Meghna?)</h3>
            <p>উত্তর: চাঁদপুরে।</p>
            <h3>বাংলাদেশের সাংবিধানিক নাম লিখ। (Write down the constitutional name of Bangladesh.)</h3>
            <p>উত্তর: গণপ্রজাতন্ত্রী বাংলাদেশ।</p>
            <h3>মুজিবনগর সরকারের প্রধানমন্ত্রী কে ছিলেন? (Who was the Prime Minister of Mujibnagar Government?)</h3>
            <p>উত্তর: তাজউদ্দিন আহমেদ।</p>
        </section>
        <section id="section-b" class="section-b">
            <h2 class="question-section">Section B questions</h2>
        </section>
        <section id="section-c" class="section-c">
            <h2 class="question-section">Section C questions</h2>
        </section>
    </main>
    <footer id="footer"></footer>
</body>

</html>