<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />
</head>

<body>
    <header id="header"></header>
    <main class="container">
        <h2 class="question-section">Section A</h2>
        <h3>আধুনিক অর্থনীতির জনক কে?</h3>
        <p>উত্তর: আধুনিক অর্থনীতির জনক স্যামুয়েলসন </p>

        <h3>কোন বাজারে যোগান রেখা নাই?</h3>
        <p>উত্তর: একচেটিয়া বাজারে যোগান রেখা নাই।</p>

        <h3>অলিগোপলি বাজার কি?</h3> -> 410
        <p>উত্তর: যে বাজারে স্বল্পসংখ্যাক বিক্রেতা সমজাতীয় কিংবা পৃথক অথচ নিকটতম বিকাশ দ্রব্য উৎপাদন করে তাকে অলিগোপলি বাজার বলে।</p>

        <h3>যোগানের স্থিতিস্থাপকতা সূত্রটি লিখ।</h3>
        <p>উত্তর: যোগানের স্থিতিস্থাপকতা = যোগানের পরিমাণের শতাংশিক পরিবর্তন ÷ দামের শতাংশিক পরিবর্তন।</p>

        <h3>চাহিদা বিধি কাকে বলে?</h3> -> 78
        <p>উত্তর: অন্যান্য অবস্থা অপরিবর্তিত থেকে কোন দ্রব্যের দাম ও চাহিদার পরিমাণের মধ্যে যে আপেক্ষিক সম্পর্ক থাকে, তাকে চাহিদা বিধি বলে।</p>

        <h3>নিমজ্জিত খরচ কাকে বলে?</h3>
        <p>উত্তর: যে ব্যয় ঋয়ে গেছে এবং যা বর্তমান অথবা ভবিষ্যতের কোন সিদ্ধান্ত দ্বারা পরিবর্তন সম্ভব নয় তাকে নিমজ্জিত খরচ বলে।</p>

        <h3>নিকষ্ট দ্রব্য কাকে বলে?</h3>
        <p>উত্তর: ভোক্তার আয় বৃদ্ধি পাওয়া সত্ত্বেও যেসব দ্রব্যের চাহিদা বা ভোগের পরিমাণ না বেড়ে বরং কমে যায় সেসব দ্রব্যকে নিকৃষ্ট দ্রব্য বলে। </p>

        <h3>কোন ধরনের বাজারে AR ও MR রেখা ডানদিকে নিম্নগামী?</h3>
        <p>উত্তর: একচেটিয়া বাজারে AR ও MR রেখা ডানদিকে নিগোমী।</p>

        <h3>প্রান্তিক উৎপাদন কি?</h3>
        <p>উত্তর: অন্যান্য উপকরণ স্থির ধরে পরিবর্তনীয় উপকরণের পরিবর্তন সাপেক্ষে মোট উৎপন্নের পরিবর্তনকে প্রান্তিক উৎপাদন বলে।</p>

        <h3>নিট সুদ কাকে বলে?</h3>
        <p>উত্তর: শুধু মুলধন ব্যবহারের জন্য তার মালিককে যে অর্থ প্রদান করা হয় তাকে নিট সুদ বলে।</p>

        <h3>ডুয়োপলি বাজার কাকে বলে?</h3>
        <p>উত্তর: যে বাজারে অসংখ্য ক্রেতা এবং কেবলমাত্র দু জন বিক্রেতা সম্পূর্ণ বিকল্প দ্রব্য ক্রয়-বিক্রয়ে নিয়োজিত থাকে তাকে ডুয়োপলি বাজার বলে।</p>

        <h3>মানবীয় মূলধন কি?</h3>
        <p>উত্তর: জনগণের কর্মক্ষমতা দ্রব্য সামগ্রীর উৎপাদন ক্ষমতা বৃদ্ধির জন্য বিনিয়োগ করা হলে তাকে মানবীয় মূলধন বলে।</p>

        <h3>PPC - এর পূর্ণরূপ কী?</h3>
        <p>উত্তর: PPC Production Possibility Curve.</p>

        <h3>বাজার অর্থনীতি বলতে কি বুঝ?</h3>
        <p>উত্তর: ক্রেতা ও উৎপাদকের ব্যক্তিগত স্বার্থচিন্তা লোকসানের চিন্তা থেকে যে প্রতিযোগিতামূলক ও মুক্ত বা লাভ অর্থব্যবস্থা চালু হয় তাই বাজার অর্থনীতি।</p>

        <h3>যোগান বাড়লে যোগান রেখার পরিবর্তন কোন দিকে হয়? </h3>
        <p>উত্তর: যোগান বাড়লে যোগান রেখার পরিবর্তন ডান দিকে হয়।</p>

        <h3>নিরপেক্ষ রেখা পরস্পরকে ছেদ করে না কেন?</h3>
        <p>উত্তর: দুটি নিরপেক্ষ রেখা একই বিন্দুতে ছেদ করলে ছেদ বিন্দুতে উভয় রেখার তৃপ্তি সমান হয়ে যায়।</p>

        <h3>আধুনিক অর্থতিবিদদের ধারণা মতে উৎপাদন অপেক্ষক কী?</h3>
        <p>উত্তর: উপকরণ ও উৎপাদনের মধ্যে নির্ভরশীলতার সম্পর্ক যখন গাণিতিক উপায়ে প্রকাশ করা হয় তখন তাকে উৎপাদন অপেক্ষক বলে।</p>

        <h3>স্বল্পকালীন উৎপাদন প্রক্রিয়ায় উৎপাদন বাড়লে নিমজ্জিত ব্যয়ে কী পরিবর্তন আসে?</h3>
        <p>উত্তর: উৎপাদন বাড়ালেও নিমজ্জিত ব্যয়ে কোন পরিবর্তন আসে না।</p>

        <h3>গিফেন দ্রব্য কী?</h3>
        <p>উত্তর: কোন দ্রব্যের দাম বাড়লে যদি তার ভোগ বা চাহিদা বেড়ে যায় এবং দাম কমলে ভোগ বা চাহিদা কমে যায় তবে সে দ্রব্যকে গিফেন দ্রব্য বলে।</p>

        <h3>ভোক্তার উদ্বৃত্ত বলতে কী বুঝ?</h3>
        <p>উত্তর: একজন ভোক্তা কোন পণ্যের জন্য যে দাম দিতে রাজি থাকে এবং প্রকৃত পক্ষে যে দাম দিয়ে দ্রব্যটি ক্রয় করে এ দু’য়ের পার্থক্যকে ভোক্তার উদ্বৃত্ত বলে।</p>

        <h3>কার্টেল কী?</h3>
        <p>উত্তর: যখন একাদিকে বিক্রেতা জোটবদ্ধ হয়ে পণ্যদ্রব্য ও মূল্য সম্পর্কে সিদ্ধান্ত গ্রহণ করে তাকে কার্টেন বলে।</p>

        <h3>নিম খাজনার প্রবক্তা কে?</h3>
        <p>উত্তর: নিম খাজনার প্রবক্তা প্রফেসর আলফ্রেড মার্শাল।</p>

        <h3>সুযোগ ব্যয় কী? -> 36</h3>
        <p>উত্তর: কোন দ্রব্যে উৎপাদন করতে গেলে তার জন্য যে বিকল্প দ্রব্যের উৎপাদন ত্যাগ করতে হয় তাই হলো দ্রব্যেটির সুযোগ ব্যয়।</p>

        <h3>মোট খাজনা কী?</h3>
        <p>উত্তর: কোন নির্দিষ্ট জমি বা বাড়ীর নির্দিষ্ট সময়ের জন্য ব্যবহারের লক্ষ্য তার মালিককে সর্বসাকুল্যে যে অর্থ প্রদান করে থাকে তাকে মোট খাজনা বলে।</p>

        <h3>ভোগ্যদ্রব্য কী?</h3>
        <p>উত্তর: যে সমস্ত দ্রব্য প্রত্যক্ষভাবে ভোগের সাথে ব্যবহৃত তাকে ভোগ্যদ্রব্য বলে।</p>

        <h3>খাজনা বলতে কী বুঝ?</h3>
        <p>উত্তর: উৎপাদনকারী তার আয়ের যে অংশ ভূমি ও প্রাকৃতিক সম্পদ ব্যবহারের জন্য এদের মালিককে প্রদান করে তাকে খাজনা বলে।</p>

        <h3>বাজার ভারসাম্য কী?</h3>
        <p>উত্তর: বাজারে চাহিদা ও যোগানের মাধ্যমে ভারসাম্য দাম ও পরিমাণ নির্ধারিত হলে তাকে বাজার ভারসাম্য বলে।</p>

        <h3>গড় আয় কী?</h3>
        <p>উত্তর: বিক্রেতা প্রতি একক দ্রব্য থেকে গড়ে যে পরিমাণ অর্থ আয় করে তাকে গড় আয় বলা হয়।</p>

        <h3>ডাম্পিং কী?</h3>
        <p>উত্তর: দেশের অভ্যন্তরে বেশি দামে এবং বিদেশের বাজারে কম দামে একটি দ্রব্য বিক্রি হতে পারে এ অবস্থাকে Dumping বলে।</p>

        <h3>চা ও কফি কোন ধরনের দ্রব্য?</h3>
        <p>উত্তর: পরস্পর বিকল্প বা পরিবর্তক দ্রব্য।</p>

        <h3>সমচ্ছেদ বিন্দু বলতে কী বুঝ?</h3>
        <p></p>

        <h3>শ্রম বাজার কী?</h3>
        <p>উত্তর: যেখানে প্রতিযোগিতার মাধ্যমে শ্রমের চাহিদা ও যোগান নির্ধারিত হয় তাকে শ্রম বাজার বলে।</p>

        <h3>নিকৃষ্ট দ্ৰব্য কী?</h3>
        <p>উত্তর: ভোক্তার আয় বৃদ্ধি পাওয়া সত্ত্বেও যেসব দ্রব্যের চাহিদা বা ভোগের পরিমাণ না বেড়ে বরং কমে যায় সেসব দ্রব্যকে নিকৃষ্ট দ্রব্য বলে।</p>

        <h3>প্রান্তিক উপযোগ কী?</h3>
        <p>উত্তর: কোন দ্রব্যের ভোগের পরিবর্তনের ফলে মোট উপযোগের যে পরিবর্তন হয় তার অনুপাতকে প্রান্তিক উপযোগ বলে।</p>

        <h3>অর্থনৈতিক দক্ষতা কী?</h3>
        <p>উত্তর: অর্থনীতিতে দক্ষতা বলতে উৎপাদন, বণ্টন ও ভোগের ক্ষেত্রে দক্ষ ও কাম্য ব্যবহারকে বুঝায়। আবার দ্রব্যাদি ও সেবাসামগ্রী ভোগের ক্ষেত্রে পরিতৃপ্তি কোন অপচয় না করাকেই অর্থনৈতিক দক্ষতা বলে।</p>

        <h3>নীতিবাচক অর্থনীতি কাকে বলে?</h3>
        <p>উত্তর: অর্থনীতির যে অংশে নৈতিক মূল্যবোধের ভিত্তিতে বিভিন্ন বক্তব্য উপস্থাপন করা হয় তাকে নীতিবাচক অর্থনীতি বলে।</p>

        <h3>দুষ্প্রাপ্যতা বলতে কী বুঝ?</h3>
        <p>উত্তর: মানুষের অভাবের তুলনায় সম্পদের অপ্রতুলতাকে দুষ্প্রাপ্যতা বলে।</p>

        <h3>আড়াআড়ি চাহিদা কাকে বলে?</h3>
        <p>উত্তর: বিকল্প প্রব্যের ক্ষেত্রে একটি প্রব্যের দাম পরিবর্তিত হলে অপরটির চাহিদার উপর যে প্রভাব পড়ে তাকে আড়াআড়ি চাহিদা বলা হয়।</p>

        <h3>কলম ও কাগজ কোন ধরনের দ্রব্য?</h3>
        <p>উত্তর: পরিপূরক দ্রব্য।</p>

        <h3>বাজেট সমীকরণটি লিখ।</h3>
        <p>উত্তর: B = R - E</p>

        <h3>এঞ্জেল রেখা কী?</h3>
        <p>উত্তর: এঞ্জেল রেখা হলো একটি বিশেষ চাহিদা রেখা যা কো আর্থিক আয়ের সাথে চাহিদার পরিমাণের সম্পর্ক নির্দেশ করে।</p>

        <h3>পরিবর্তনশীল খরচ কাকে বলে?</h3>
        <p>উত্তর: যে খরচ উৎপাদনের এককের সাথে প্রত্যক্ষভাবে পরিবর্তিত হয় তাকে পরিবর্তনশীল খরচ বলে।</p>

        <h3>অর্থনৈতিক ব্যয় কী?</h3>
        <p>উত্তর: উৎপাদনের অন্যান্য বারের সাথে উদ্যোক্তার পারিশ্রমিক বাবদ ব্যয়ের পরিমাণ যুক্ত করলে যে মোট ব্যয় হয় তাই অর্থনৈতিক ব্যয়।</p>

        <h3>একচেটিয়া বাজারে AR ও MR এর মধ্যে সম্পর্ক কী?</h3>
        <p>উত্তর: একচেটিয়া বাজারে দ্রব্য বিক্রয়ের পরিমাণ বৃদ্ধির সাথে সাথে AR রেখা ও MR রেখা উভয়ই ডানদিকে নিম্নগামী। তবে M রেখা সব সময় AR রেখার নিচে অবস্থান করে।</p>

        <h3>শ্রমের যোগান অপেক্ষকটি লিখ।</h3>
        <p></p>

        <h3>নিম খাজনা কী?</h3>
        <p>উত্তর: স্বল্পমেয়াদে কিছু উপকরণ স্থির থাকে। এরূপ উপকরণ ব্যবহারের জন্য যে মূল্য প্রদান করতে হয় তাকে নিম খাজনা বলে।</p>

        <h3>শ্রম বাজার কী?</h3>
        <p>উত্তর: যেখানে প্রতিযোগিতার মাধ্যমে শ্রমের চাহিদা ও যোগান নির্ধারিত হয় তাকে শ্রম বাজার বলে।</p>

        <h3>চাহিদা সূচি কী?</h3>
        <p>উত্তর: সহজ কথায় চাহিদা সূচি হলো চাহিদা বিধির গাণিতিক প্রকাশ মাত্র।</p>

        <h3>ইসলামি অর্থনীতি কী?</h3>
        <p>উত্তর: ইসলামি অর্থনীতি হলো এমন একটি অর্থনৈতিক ব্যবস্থা যার মৌলিক বিধান, নীতিমালা এবং কর্মপদ্ধতি ইসলামি শরিয়তের উপর প্রতিষ্ঠিত।</p>

        <h3>উপযোগ কী?</h3>
        <p>উত্তর: কোন দ্রব্যের মধ্যে মানুষের অভাব মোচনের যে ক্ষমতা থাকে তাকে উপযোগ বলে।</p>

        <h3>নিরপেক্ষ রেখা কী?</h3>
        <p>উত্তর: নিরপেক্ষ রেখা দু'টি দ্রব্যের সংমিশ্রণসূচক কতকগুলো বিন্দুর সঞ্চার পথ যার প্রতিটি বিন্দু ভোক্তার নিকট সমান উপযোগসম্পন্ন এবং বিন্দুগুলোর প্রতি ভোক্তা নিরপেক্ষ থাকে।</p>

        <h3>উৎপাদন ব্যয় কী?</h3>
        <p>উত্তর: কোন দ্রব্য বা সেবা উৎপাদনে ব্যবহৃত বিভিন্ন উপকরণের জন্য যে দাম দিতে হয়, তাই উৎপাদন খরচ।</p>

        <h3>একচেটিয়া ক্ষমতা কী?</h3>
        <p>উত্তর: একজন বিক্রেতার উৎপাদিত পণ্যের প্রান্তিক ব্যয় এর তুলনায় বেশি দাম আদায় করার যে ক্ষমতা তাকে একচেটিয়া ক্ষমতা বলে।</p>

        <h3>সুদ কী?</h3>
        <p>উত্তর: সুদ হলো মূলধন ব্যবহারের মূল্য।</p>

        <h3>উপকরণ বাজার কী?</h3>
        <p>উত্তর: যে বাজারে উৎপাদনের উপকরণ ক্রয়বিক্রয় হয় তাকে উপকরণ বাজার বলে।</p>

        <h3>সুযোগ ব্যয় কী?</h3>
        <p>উত্তর: একটি দ্রব্যের অতিরিক্ত এক একক পাওয়ার জন্য অপদ্রব্যের যে পরিমাণ ছেড়ে দিতে হয় তাকে সুযোগ ব্যয় বলে।</p>

        <h3>যোগান সূচি কী?</h3>
        <p>উত্তর: দামের সাথে যোগানের সম্পর্ককে সূচির দেখানো হলে তাকে যোগান সূচি বলে।</p>

        <h3>সমখরচ রেখা কী?</h3>
        <p>উত্তর: যে রেখার প্রত্যেকটি বিন্দুতে খরচের পরিমাণ সমান তাকে সমখরচ রেখা বলে।</p>

        <h3>বাজার ভারসাম্য কী?</h3>
        <p>উত্তর: চাহিদা ও যোগানের মাধ্যমে যে ভারসাম্য নির্ধারিত হয় তাকে বাজার ভারসাম্য বলে।</p>

        <h3>পরিপূরক দ্রব্য কী?</h3>
        <p>উত্তর: একটি দ্রব্যের অভাব পূরণ করতে যদি অন্য একটি দ্রব্য প্রয়োজন হয় তবে তাকে পরিপূরক দ্রব্য বলে।</p>

        <h3>কোন বাজারে AR = MR হয়?</h3>
        <p>উত্তর: পূর্ণ প্রতিযোগিতামূলক বাজারে।</p>

        <h3>প্রকৃত মজুরি কাকে বলে?</h3>
        <p>উত্তর: শ্রমিকের শ্রমের বিনিময় প্রাপ্ত মজুরি ও আনুষঙ্গিক সুযোগ সুবিধাকে প্রকৃত মজুরি বলে।</p>

        <h3>উৎপাদন সম্ভাবনা রেখা কী?</h3>
        <p>উত্তর: একটি নির্দিষ্ট সম্পদের সাহায্যে বিভিন্ন দ্রব্যের সংমিশ্রণ কি পরিমাণ উৎপাদন করা সম্ভব তা যে রেখায় মাধ্যমে দেখানো হয় তাকে উৎপাদন সম্ভাবনা রেখা বলে।</p>

        <h3>নিরপেক্ষ মানচিত্র কী?</h3>
        <p>উত্তর: একই চিত্রে একাধিক নিরপেক্ষ রেখা অংকন করা হলে তাকে নিরপেক্ষ মানচিত্র বলে।</p>

        <h3>অনুপার্জিত আয় কী?</h3>
        <p>উত্তর: কোন ব্যয় বা পরিশ্রম ছাড়া যে আয় পাওয়া যায় তাকে অনুপার্জিত আয় বলে।</p>


        <h2 class="question-section">Section B</h2>
        <h2 class="question-section">Section C</h2>
    </main>
    <footer id="footer"></footer>
</body>

</html>