<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />
</head>

<body>
    <header id="header"></header>
    <main class="container">
        <h2 class="question-section">Section A</h2>

        <h3>অর্থায়ন কী? (What is finance?)</h3>
        <p>উত্তর: বিনিয়োগ পরিকল্পনা থেকে শুরু করে মূলধন সংগ্রহ, বিনিয়োগ মূলধনের রক্ষণাবেক্ষণ এবং মুনাফা বিতরণ পর্যন্ত যাবতীয় কাজকে অর্থায়ন বলে।</p>

        <h3>বাণিজ্যিক পত্রের সংজ্ঞা দাও। (Give the definition of commercial paper.)</h3>
        <p>উত্তর: স্বল্পমেয়াদের ভিত্তিতে অর্থ সংগ্রহের জন্য বাণিজ্যিক কাগজ ঘরের মাধ্যমে যে সমস্ত অঙ্গীকারপত্র ছাড়া হয় সেগুলোকে বাণিজ্যিক পত্র বা বাণিজ্যিক কাগজপত্র বলে। </p>

        <h3>বার্ষিক বৃত্তি বলতে কী বুঝ? (What do you mean by Annuity?)</h3>
        <p>উত্তর: ভবিষ্যৎ নির্দিষ্ট সময় পর্যন্ত সমান কিস্তিতে সমান সময়ের ব্যবধানে অর্থের আগমন বহিঃগমনকে বার্ষিক বৃত্তি বলে।</p>

        <h3>ফার্মের প্রথম দাবীদার কে? (Who are the claimant of the firm?)</h3>
        <p>উত্তর: ফার্মের প্রথম দাবীদার হলো ঋণদাতাগণ।</p>

        <h3>কল বন্ডের সংজ্ঞা দাও। (Define call bond.)</h3>
        <p>উত্তর: বন্ডের মেয়াদ পূর্তির পূর্বে বন্ড ফেরত নেওয়ার জন্য বন্ড ইস্যুকারী যখন তলব করে তাকে কল বন্ড বলে।</p>

        <h3>কার্যকরী সুদের হার কাকে বলে? (What is effective Pinterest rate?)</h3>
        <p>উত্তর: বছরে একাধিকবার চক্রবৃদ্ধিকরণের ফলে প্রকৃতপক্ষে যে বার্ষিক হারে সুদ অর্জিত হয় বা প্রদেয় হয় তাকে কার্যকরী বা প্রকৃত সুদের হার বলে।</p>

        <h3>CAPM এর মূল বক্তব্য কী? (What is the main theme of CAPM?)</h3>
        <p>উত্তর: CAPM-এর মূল বক্তব্য হলো, যেকোনো বিনিয়োগের আয় হার ঝুঁকিহীন সুদের হার ও ঝুঁকির প্রিমিয়ামের সমান হবে।</p>

        <h3>পরিহারযোগ্য ঝুঁকি বলতে কী বুঝ? (What do you mean by avoidable risk?)</h3>
        <p>উত্তর: মোট ঝুঁকি হতে বাজার ঝুঁকি বাদ দিলে যে ঝুঁকি পাওয়া যায় তাকে পরিহারযোগ্য ঝুঁকি বলে।</p>

        <h3>স্বাধীন প্রকল্প কাকে বলে? (What is Independent project?)</h3>
        <p>উত্তর: যে প্রকল্পের নগদ অন্তরপ্রবাহ বা বহিঃপ্রবাহ কোনভাবেই অন্য প্রকল্পের উপর নির্ভরশীল নয় এবং ক্রয় গ্রহণ বা বর্জন অন্য প্রকল্প দ্বারা প্রভাবিত হয় না তাকে স্বাধীন বা স্বতন্ত্র প্রকল্প বলে।</p>

        <h3>গড় মুনাফার হার কী? (What is Average Rate of Return?)</h3>
        <p>উত্তর: সাধারণত গড় বিনিয়োগ অর্থের উপর আয়ের শতকরা হারকে গড় মুনাফার হার বলে।</p>

        <h3>ভাসমান বন্ধক কী? (What is Floating live?)</h3>
        <p>উত্তর: যেক্ষেত্রে বিশেষ কোনো পণ্যের উপর অধিকার না জন্য বন্ড ইস্যুকারী যখন তলব করে তাকে কল বন্ড বলে। দিয়ে ঋণগ্রহীতা তার সমস্ত মজুত পণ্যের উপর ঋণদাতাকে অধিকার প্রদান করে তাকে ভাসমান বন্ধক বলে। </p>

        <h3>পরিচালন নগদ আস্তঃ প্রবাহ কাকে বলে? (What is operation cash inflow?)</h3>
        <p>উত্তর: প্রকল্পের জীবনকালে অর্জিত কর পরবর্তী বর্ধিত নিট নগদ আন্তঃপ্রবাহসমূহকে পরিচালন নগদ আন্তঃপ্রবাহ বলে।</p>

        <h3>ব্যবসায় অর্থায়ন কাকে বলে? (What is business finance?)</h3>
        <p>উত্তর: ব্যবসায় প্রতিষ্ঠানের আর্থিক পরিকল্পনা প্রণয়ন, সমন্বয় সাধন, নিয়ন্ত্রণ এবং এগুলোর যথাযথ প্রয়োগকে ব্যবসায় অর্থায়ন বলে।</p>

        <h3>মুদ্রা বাজার কী? (What is money market?)</h3>
        <p>উত্তর: যে বাজারে স্বল্পমেয়াদি অর্থাৎ এক বছরের কম মেয়াদসম্পন্ন সিকিউরিটিসমূহ ক্রয়-বিক্রয় করা হয় তাকে মুদ্রা বাজার বলে।</p>

        <h3>ক্ষতিপূরণ উদ্বৃত্ত কী? (What is compensating balance?)</h3>
        <p>উত্তর: সাধারণত ঋণরেখা বা ঘূর্ণায়মান ঋণের অধীনে ঋণের ওপর নির্দিষ্ট হারে জমাকৃত অর্থকে ক্ষতিপূরণের উদ্বৃত্ত বলা হয়।</p>

        <h3>ঘূর্ণায়মান ঋণ কী? (What is revolving credit?) </h3>
        <p>উত্তর: যে ঋণ চুক্তির মাধ্যমে ব্যাংক নির্দিষ্ট সময়ের মধ্যে নির্দিষ্ট পরিমাণ ঋণ প্রদানের জন্য ঋণ গ্রহীতাকে নিশ্চয়তা দেয়, তাকে ঘূর্ণায়মান ঋণ বলে।</p>

        <h3>ঝুঁকির প্রিমিয়াম কী? (What is risk premium?)</h3>
        <p>উত্তর: বাজারের গড় প্রতিদানের হার এবং ঝুঁকিমুক্ত প্রতিদানের হারের পার্থক্যকে ঝুঁকি প্রিমিয়াম (Risk Premium) বলা হয়।</p>

        <h3>বার্ষিক বৃত্তির সংজ্ঞা দাও। (Define annuity.)</h3>
        <p>উত্তর: ভবিষ্যৎ নির্দিষ্ট সময় পর্যন্ত সমান কিস্তিতে সমান সময়ের ব্যবধানে অর্থের আগমন বহিঃগমনকে বার্ষিক বৃত্তি বলে।</p>

        <h3>বন্ড ইনডেঞ্চার কাকে বলে? (What is bond indenture?)</h3>
        <p>উত্তর: ঋণপত্র বিক্রয়ের সময় কোম্পানির সাথে ঋণদাতার বা ঋণপত্র ধারকদের যে চুক্তি বা দলিল হয় তাকে বণ্ড ইনডেঞ্চার বলে।</p>

        <h3>বিটা কাকে বলে? (What is Beta?)</h3>
        <p>উত্তর: কোনো একটি নির্দিষ্ট কোম্পানির শেয়ারের নিয়মানুগ ঝুঁকি মার্কেটের সামগ্রিক নিয়মানুগ ঝুঁকির তুলনায় কতটা বেশি বা কতটা কম সেটা যে চিহ্ন দ্বারা প্রকাশ করা হয় তাকে বিটা বলে।</p>

        <h3>পরস্পর বর্জনশীল প্রকল্প বলতে কি বুঝ? (What is meant by mutually exclusive project?)</h3>
        <p>উত্তর: পরস্পর প্রতিযোগী প্রকল্প, অর্থাৎ অনেকগুলো প্রকল্প থেকে সবচেয়ে লাভজনক প্রকল্পটি নির্বাচন করে বিকল্প প্রকল্পগুলো বর্জন করা।</p>

        <h3>সুযোগ ব্যয় কী? (What is opportunity cost?)</h3>
        <p>উত্তর: বিকল্প বিনিয়োগ বা বাতিলকৃত বিনিয়োগ থেকে সম্ভাব্য আয়ই হচ্ছে গৃহীত বিনিয়োগের জন্য সুযোগ বায়।</p>

        <h3>কাম্য মূলধন কাঠামো দ্বারা কি বুঝায়? (What do you mean by optimum capital structure?)</h3>
        <p>উত্তর: যে মূলধন কাঠামোর মূলধন বায় সর্বনিম্ন এবং শেয়ারের বাজারমূল্য বেশী থাকে সে মূলধন কাঠামোকে কাম্য মূলধন কাঠামো বলে।</p>

        <h3>অর্থের সময় মূল্য কাকে বলে? (What is called time value of money?)</h3>
        <p>উত্তর: সময়ের পরিবর্তনের সাথে সাথে অর্থের মূল্যের পরিবর্তন ঘটে তাকে অর্থের সময় মূল্য বলে।</p>

        <h3>আর্থিক ব্যবস্থাপক কে? (Who is financial manager?)</h3>
        <p>উত্তর: যেসব ব্যক্তি কোনো প্রতিষ্ঠানের অর্থায়ন সংক্রান্ত সিদ্ধান্ত গ্রহণে সক্রিয় অংশ নিয়ে থাকেন এবং অর্থায়নের যাবতীয় কার্যাবলি সম্পাদন করেন তাদের আর্থিক ব্যবস্থাপক বলে।</p>

        <h3>ব্যবসায় ঋণ কি? (What is a trade credit?)</h3>
        <p>উত্তর: যখন কোনো ক্রেতা পুনঃবিক্রয়ের উদ্দেশ্যে অন্য কোনো বিক্রেতার নিকট হতে ধারে পণ্য ক্রয় করে এবং কৃত পণ্য বিক্রয়ের মাধ্যমে পূর্বোক্ত বিক্রেতার ঋণ পরিশোধ করে তখন তাকে ব্যবসায় ঋণ বলে।</p>

        <h3>অর্থায়নে ঝুঁকি কি? (What is risk in finance?)</h3>
        <p>উত্তর: কোন বিনিয়োগ থেকে ঋণের সুদ বা সুদসহ ঋণের অর্থ পরিশোধ বা মুনাফার ব্যবস্থা করার মতো পর্যাপ্ত নগদ প্রবাহ সৃষ্টি না হওয়ার সম্ভাবনাকে আর্থিক ঝুঁকি বলে।</p>

        <h3>সাধারণ শেয়ার কি? (What is common share?)</h3>
        <p>উত্তর: যৌথমূলধনী কোম্পানির যে সমস্ত শেয়ার হোল্ডারগণ লভ্যাংশ প্রাপ্তি ও মূলধন ফেরত পাওয়ার ক্ষেত্রে সাধারণ অধিকার ভোগ করে তাদের শেয়ারকে সাধারণ শেয়ার বলে।</p>

        <h3>মূলধনী লাভ কি? (What is capital gain?)</h3>
        <p>উত্তর: যেসব লাভ বার বার অর্জিত হয় না এবং একবার অর্জন করে দীর্ঘদিন একে ব্যবসায়ে স্থায়ীভাবে ব্যবহার করা হয় তাকে মূলধনী লাভ বলে।</p>

        <h3>অভ্যন্তরীণ উপার্জন হার (আই আর আর) কি? (What is internal rate of return (IRR)?)</h3>
        <p>উত্তর: যে হারে নগদ অন্তঃপ্রবাহকে বাট্টা করলে বাঠাকৃত মূল্য বিনিয়োগের বর্তমান মূল্যের সমান হয় তাকে অভ্যন্তরীণ উপার্জন হার বলে।</p>

        <h3>টারমিনাল (প্রাত্তীয়) নগদ প্রবাহ কি? (What is terminal cash flow?)</h3>
        <p>উত্তর: কোনো প্রকল্প শেষে উক্ত প্রকল্প থেকে যে অন্তঃপ্রবাহ ঘটে তাকেই প্রান্তিক নগদ প্রবাহ বলে।</p>

        <h3>মধ্যমেয়াদি অর্থায়ন কি? (What is mid-term financing?)</h3>
        <p>উত্তর: এক বছরের উপরে এবং ৫ বছরের নিচে সময়ের জন্য যে অর্থায়ন করা হয় তাকে মধ্যমেয়াদি অর্থসংস্থান বলে।</p>

        <h3>মূলধন কাঠামোর চারটি উৎস বা উপাদান কি? (What are four sources or elements of capital structure?)</h3>
        <p>উত্তর: মূলধন কাঠামোর চারটি উপাদান হলো- (i) ঋণপত্র (Debt), (ii) অগ্রাধিকারযুক্ত শেয়ার (Preferred Share), (iii) সাধারণ শেয়ার (Equity / Common Shares), (iv) সংরক্ষিত আয় ও (Retained Earnings)।</p>

        <h3>মূলধন কাঠামো কি? (What is capital structure?)</h3>
        <p>উত্তর: কারবারের নিট মূল্য, অগ্রাধিকার শেয়ার ও দীর্ঘমেয়াদি ঋঋণ থেকে সংগৃহীত তহবিলের অনুপাতকে মূলধন কাঠামো বলে।</p>

        <h3>স্টেক হোল্ডার কে? (Who are the stakeholders?)</h3>
        <p>উত্তর: একটি ব্যবসায় প্রতিষ্ঠানের উপর প্রত্যক্ষ বা পরোক্ষভাবে যারা নির্ভরশীল থাকে তাদেরকে স্টেক হোল্ডার বলে।</p>

        <h3>ঘূর্ণায়মান ঋণ কি? (What is revolving credit?)</h3>
        <p>উত্তর: যে ঋণ চুক্তির মাধ্যমে ব্যাংক নির্দিষ্ট সময়ের মধ্যে নির্দিষ্ট পরিমাণ ঋণ প্রদানের জন্য ঋণ গ্রহীতাকে নিশ্চয়তা দেয় তাকে ঘূর্ণায়মান ঋণ বলে।</p>

        <h3>সুযোগ ব্যয় কি? (What is opportunity cost?)</h3>
        <p>উত্তর: বিকল্প বিনিয়োগ বা বাতিলকৃত বিনিয়োগ থেকে সম্ভাব্য আয়ই হচ্ছে গৃহীত বিনিয়োগের জন্য সুযোগ ব্যয়।</p>

        <h3>বিধি-৬৯ কি? (What is Rule 69)</h3>
        <p>উত্তর: কত বছরে বা কত % সুদের হারে বিনিয়োগকৃত টাকা দ্বিগুণ হবে তা যে বিধির সাহায্যে সহজে এবং দ্রুত নির্ণয় করা হয় তাকে ৬৯ বিধি বলে।</p>

        <h3>প্রাথমিক বাজার কি? (What is primary market?) </h3>
        <p>উত্তর: যে বাজারে কোম্পানি বা ইসুকারি সরাসরি আর্থিক সম্পত্তি বিক্রি করে তাকে প্রাথমিক বাজার বলে।</p>

        <h3>আর্থিক ঝুঁকি কি? (What is financial risk?)</h3>
        <p>উত্তর: ভোক্তার চাহিদা ও রুচির পরিবর্তন, অর্থনৈতিক অবস্থার উঠানামা মূল্যের পরিবর্তন প্রতিযোগিতা ও প্রযুক্তির পরিবর্তন ইত্যাদি কারণে কারবারের মূলধনের যে ক্ষতির সম্ভাবনা দেখা দেয় তাকেই আর্থিক ঝুঁকি বলে।</p>

        <h3>কুপন বন্ড কি? (What is coupon bond?)</h3>
        <p>উত্তর: নির্দিষ্ট পরিশোধ কাল, সুদের হার, অভিহিত মূল্য এবং পরিশোধ্য মূল্য সম্বলিত বন্ডকে কুপন বন্ড বলে।</p>

        <h3>ভেনচার ক্যাপিটাল কি? (What is venture capital?) </h3>
        <p>উত্তর: কোম্পানির উদ্যোক্তাগণ নিজেদের সীমিত মূলধন নিয়ে যখন ব্যবসায় শুরু করেন তখন তাকে ভেনচার ক্যাপিটাল বলে।</p>

        <h3>আর্থিক কাঠামো কি? (What is financial structure?)</h3>
        <p>উত্তর: প্রতিষ্ঠানের মোট সম্পদের নিমিত্তে অর্থায়নের ব্যবস্থাকেই আর্থিক কাঠামো বলে।</p>

        <h3>ব্যক্তিগত অর্থায়ন কী? (What is personal finance?)</h3>
        <p>উত্তর: একজন ব্যক্তির দৈনন্দিন কার্যাবলি সম্পাদনের জন্য যে অর্থায়নের প্রয়োজন হয় তাকে ব্যক্তিগত অর্থায়ন বলা হয়।</p>

        <h3>অবচয় কী? (What depreciation?)</h3>
        <p>উত্তর: সম্পত্তির ব্যবহারজনিত ক্ষয়কে অবচয় বলে।</p>

        <h3>স্বতঃস্ফূর্ত অর্থায়ন কী? (What is the spontaneous financing?)</h3>
        <p>উত্তর: ঋণদাতা ও ঋণগ্রহীতা স্বেচ্ছায় প্রণোদিত হয়ে ব্যবসায় ঋণ, ক্রেতাদের নিকট থেকে অগ্রিম এবং বকেয়া খরচের মাধ্যমে যে অর্থায়নের ব্যবস্থা করে তাকে স্বতঃস্ফূর্ত অর্থায়ন বলে।</p>

        <h3>ক্ষতিপূরণ উদ্বৃত্ত কী? (What is compensating balance?)</h3>
        <p>উত্তর: মধ্যমেয়াদি ঋণের ক্ষেত্রে ঋণদাতা প্রতিষ্ঠানের মঞ্জুরিকৃত ঋনের একটি অংশ ক্ষতিপূরণ হিসেজেমা রাখে তাকে ক্ষতিপূরণের উদ্বৃত্ত /জমা বলে।</p>

        <h3>প্রদেয় বার্ষিক বৃত্তি কী? (What is annuity due?)</h3>
        <p>উত্তর: যে বার্ষিক বৃত্তির নগদ আন্তঃপ্রবাহ ও বহিঃপ্রবাহ বছরের শুরুতে সংঘটিত হয় তাকে প্রদেয় বার্ষিক বৃত্তি বলে।</p>

        <h3>কার্যকরী সুদ কী? (What is effective interest?)</h3>
        <p>উত্তর: বছরে একাধিকবার চক্রবৃদ্ধিকরণের ফলে প্রকৃতপক্ষে যে বার্ষিক হারে সুদ অর্জিত হয় বা প্রদেয় হয় তাকে কার্যকরী বা প্রকৃত সুদের হার বলে।</p>

        <h3>সময় রেখা কী? (What is time line?)</h3>
        <p>উত্তর: অর্থের সময় মূল্য নির্ধারণে যে কতকগুলো উপাদান বিবেচনা করা হয় তার মধ্যে সবচেয়ে গুরুত্বপূর্ণ এবং প্রধান উপাদানটি হলো সময়। কোন বিনিয়োগকারী বর্তমানে আর্থিক সুবিধা ত্যাগের বিনিময়ে ভবিষ্যতে কি পরিমাণ সুবিধা পাবে কিংবা বর্তমানে আর্থিক সুবিধা ভোগের বিনিময়ে ভবিষ্যতে কি পরিমাণ সুবিধা ত্যাগ করতো হবে সেটি সময়ের উপর ভিত্তি করে নির্ধারণ করা হয়। সময়ের এ বর্তমান এবং ভবিষ্যৎ অবস্থা যে রেখা বা লাইনের মাধ্যমে প্রকাশ করা হয় তাকে সময় রেখা বা টাইম লাইন বলা হয়।</p>

        <h3>হাইব্রিড সিকিউরিটি কী? (What is hybrid security?)</h3>
        <p>উত্তর: যে শেয়ারকে মুনাফা বণ্টনের ক্ষেত্রে এবং অবসায়নের সময় সম্পত্তির ভাগ দেয়ার ক্ষেত্রে অগ্রাধিকার দেয়া হয় তাকে হাইব্রিড সিকিউরিটি বলে।</p>

        <h3>জিরো কুপন বন্ড কী? (What is zero coupon bond?)</h3>
        <p>উত্তর: যে ধরনের ঋণপত্র ঋণপত্রের সমমূল্যে বা কম মূল্যে বিক্রয় করা হয়ে থাকে এবং কোনো সুদের কথা উল্লেখ করা হয় না শুধু মেয়াদ শেষে কত টাকা পরিশোধ করে তা উল্লেখ থাকে তাকে জিরো কুপন বন্ড বলে।</p>

        <h3>ঝুঁকির প্রিমিয়াম কী? (What is risk premium?)</h3>
        <p>উত্তর: বাজারের গড় প্রতিদানের হার এবং ঝুঁকিমুক্ত প্রতিদানের হারের পার্থক্যকে ঝুঁকি প্রিমিয়াম (Risk Premium) বলা হয়।</p>

        <h3>প্রান্তিক নগদ প্রবাহ কী? (What is terminal cash flow?)</h3>
        <p>উত্তর: কোনো প্রকল্প শেষে উক্ত প্রকল্প থেকে যে আন্তঃপ্রবাহ ঘটে তাকেই প্রান্তিক নগদ প্রবাহ বলে।</p>

        <h3>কাম্য মূলধন কাঠামো কী? (What is optimum capital structure?)</h3>
        <p>উত্তর: যে মূলধন কাঠামোর মূলধন ব্যয় সর্বনিম্ন এবং শেয়ারের বাজারমূল্য বেশী থাকে সে মূলধন কাঠামোকে কাম্য মূলধন কাঠামো বলে।</p>

        <h3>সবুজ অর্থায়ন কী? (What is green finance?)</h3>
        <p>উত্তর: আর্থিক সরঞ্জাম ও বিনিয়োগকেই সবুজ অর্থায়ন বলা হয়।</p>

        <h3>সম্পদ সর্বাধিকরণ কী? (What is wealth maximization?)</h3>
        <p>উত্তর: কোনো কার্যক্রমের নিট বর্তমান মূল্য বৃদ্ধিকরণকে সম্পদ সর্বাধিকরণ বলে।</p>

        <h3>ঘূর্ণায়মান ঋণ কী? (What is revolving credit?)</h3>
        <p>উত্তর: যে সমস্ত ঋণ, ঋণ গ্রহীতার নিকট হতে একসাথে আদায় করা যায় না বা ক্ষুদ্র ক্ষুদ্র অংশে আদায় করা হয়ে থাকে সেই প্রাপ্য ঋণকে ঘূর্ণায়মান ঋণ বলে।</p>

        <h3>ব্যবসায় ঋণ কী? (What is trade credit?)</h3>
        <p>উত্তর: যখন কোনো ক্রেতা পুনঃবিক্রয়ের উদ্দেশ্যে অন্য কোনো বিক্রেতার নিকট হতে ধারে পণ্য ক্রয় করে এবং কৃত পণ্য বিক্রয়ের মাধ্যমে পূর্বোক্ত বিক্রেতার ঋণ পরিশোধ করে তখন তাকে ব্যবসায় ঋণ বলে।</p>

        <h3>CAPM - এর পূর্ণরূপ লিখ। (Elaborate CAPM)</h3>
        <p>উত্তর: CAPM এর পূর্ণরূপ হলো- Capital Asset Pricing Model.</p>

        <h3>মূলধন বাজেটিং কী? (What is capital budgeting?)</h3>
        <p>উত্তর: দীর্ঘমেয়াদি সম্পত্তিতে অর্থ বিনিয়োগ করার জন্য বিকল্প প্রকল্পগুলো প্রস্তুত, মূল্যায়ন এবং নির্বাচন করার সম্পূর্ণ প্রক্রিয়াকে মূলধন বাজেটিং বলে।</p>

        <h3>'৭২' বিধি কী? (What is Rule '72'?)</h3>
        <p>উত্তর: একটি নির্দিষ্ট পরিমাণ অর্থ কত বছরে বা কত সুদের হারে দ্বিগুণ হবে তা যে বিধির মাধ্যমে প্রকাশ করা হয় তাকে ৭২ বিধি বলে।</p>

        <h3>বন্ড কী? (What is bond?)</h3>
        <p>উত্তর: কোন যৌথ মূলধনী প্রতিষ্ঠান যখন দীর্ঘমেয়াদি ঋণ বা মূলধন সংগ্রহের জন্য প্রতিজ্ঞাপত্র বিক্রি করে তখন এ প্রতিজ্ঞাপত্রকে বন্ড বলা হয়।</p>

        <h3>YTM বলতে কী বুঝ? (What do you mean by YTM?)</h3>
        <p>উত্তর: নির্দিষ্ট দামে বড় ক্রয় করে মেয়াদপূর্তি পর্যন্ত ধরে রেখে বিনিয়োগকারী যে হারে আয় অর্জন করে তাকেই মেয়াদপূর্তিতে আয় হার বা YTM বলে।</p>

        <h3>সুযোগ ব্যয় কী? (What is opportunity cost?)</h3>
        <p>উত্তর: বিকল্প বিনিয়োগ বা বাতিলকৃত বিনিয়োগ থেকে সম্ভাব্য আয়ই হচ্ছে গৃহীত বিনিয়োগের জন্য সুযোগ ব্যয়।</p>

        <h3>ঝুঁকিমুক্ত আয় কী? (What is risk free rate of return?)</h3>
        <p>উত্তর: সরকার কর্তৃক ইস্যুকৃত ট্রেজারি বিল থেকে প্রাপ্ত আয়কে ঝুঁকিমুক্ত আয় বলে।</p>

        <h3>সরকারি অর্থায়ন কি? (What is public finance?)</h3>
        <p>উত্তর: সরকারি প্রতিষ্ঠানের অধীনে সংঘবদ্ধ দল হিসেবে জনসাধারণের আর্থিক সমস্যার সাথে আলোচিত বিষয়কে সরকারি অর্থায়ন বলে।</p>

        <h3>মুনাফা সর্বোচ্চক্ররণ কি? (What is profit maximization?)</h3>
        <p>উত্তর: উৎপাদন ও বিক্রয়ের মাধ্যমে মুনাফার পরিমাণ ক্রমান্বয়ে বৃদ্ধির প্রক্রিয়াকে মুনাফা সর্বোচ্চক্ররণ/সর্বাধিকরণ বলে।</p>

        <h3>বাজার ঝুঁকি কি? (What is market risk?)</h3>
        <p>উত্তর: অর্থনীতিতে বাজার দামের পরিবর্তন, ভোক্তাদের উপযোগ ও রুচির পরিবর্তন, শেয়ার মূল্যের পরিবর্তন, উন্নতমানের দ্রব্য প্রতিযোগিতা ইত্যাদি হতে যে ঝুঁকির সৃষ্টি হয় তাকে বাজার ঝুঁকি বলে।</p>

        <h3>মূলধন রেশনিং কি? (What is capital rationing?)</h3>
        <p>উত্তর: যে প্রক্রিয়ায় বহুসংখ্যক প্রকল্প হতে সীমিত কয়েকটি প্রকল্পে বিনিয়োগ করা হয় তাকে মূলধন রেশনিং বলে।</p>

        <h3>স্টক লভ্যাংশ কি? (What is stock dividend?)</h3>
        <p>উত্তর: নগদ অর্থ লভ্যাংশ না দিয়ে শেয়ারের মাধ্যমে যখন লভ্যাংশ দেওয়া হয় তাকে স্টক লভ্যাংশ বলে।</p>

        <h3>লিভারেজ কি? (What is leverage?)</h3>
        <p>উত্তর: শেয়ার মালিকদের উপার্জন হার বৃদ্ধির লক্ষে ব্যবসায় প্রতিষ্ঠানে স্থায়ী ব্যয়যুক্ত তহবিল বা সম্পদের যথাযথ ব্যবহার করার কৌশলকে লিভারেজ বলা হয়।</p>

        <h3>BSEC এর পূর্ণরূপ কি? (What is the elaboration of BSEC)</h3>
        <p>উত্তর: BSEC এর পূর্ণরূপ হলো-Bangladesh Securities and Exchange Commission.</p>

        <h3>সাধারণ বার্ষিক বৃত্তি কি? (What is ordinary annuity?)</h3>
        <p>উত্তর: যে বার্ষিক বৃত্তির নগদ আন্তঃপ্রবাহ ও বহিঃপ্রবাহ উপার্জন হার বলে। বছরের শেষে সংঘটিত হয় তাকে সাধারণ বার্ষিক বৃত্তি বলে।</p>

        <h2 class="question-section">Section B</h2>
        <h2 class="question-section">Section C</h2>
    </main>
    <footer id="footer"></footer>
</body>

</html>