<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />
</head>

<body>
    <nav id="navigation" class="navigation" role="navigation"></nav>
    <main class="container">
        <section id="section-a" class="section-a">
            <h2 class="question-section">Section A</h2>
            <h3>লেবেল বলতে কী বুঝায়? (What does level mean?)</h3>
            <p>উত্তর: প্যাকেটকৃত পণ্যের গুরুত্বপূর্ণ তথ্য প্রদর্শনকেই লেবেল বলে।</p>
            <h3>ট্রেডমার্ক কী? (What is a trademark?)</h3>
            <p>উত্তর: ব্র্যান্ডের একটি অংশ যা আইন দ্বারা স্বীকৃত তাকে ট্রেডমার্ক বলে।</p>
            <h3>মূল্য কী? (What is the price?)</h3>
            <p>উত্তর: কোন পণ্য বা সেবার জন্য যে পরিমাণ অর্থ ধার্য করা হয় তাকে মূল্য বলে।</p>
            <h3>ভোক্তা বাজার কী? (What is the consumer market? )</h3>
            <p>উত্তর: যে সকল ক্রেতা ও ভোক্তরা শুধুমাত্র ব্যক্তিগত ভোগের উদ্দেশ্য পণ্য বা সেবাসমূহ ক্রয় করে তাদের সমষ্টিকেই ভোক্তা বাজার বলে।</p>
            <h3>কোন পরিবেশ বাজারজাতকরণ কার্যক্রমকে সরাসরি প্রভাবিত করে? (Which environment directly affects marketing activities?)</h3>
            <p>উত্তর: সামষ্টিক পরিবেশ বাজারজাতকরণ কার্যক্রমকে সরাসরি প্রভাবিত করে।</p>
            <h3>বাজারজাতকরণ নিয়ন্ত্রণ কী? (What is marketing control?)</h3>
            <p>উত্তর: কোম্পানির উদ্দেশ্য অর্জনের নিমিত্তে বাজারজাতকরণ কৌশল এবং পরিকল্পনা অনুযায়ী সঠিকভাবে অগ্রসর হচ্ছে কিনা তা পরিমাপ ও মূল্যায়ন করাকে বাজারজাতকরণ নিয়ন্ত্রণ বলে।</p>
            <h3>বাজারজাতকরণ দ্বারা কী কী উপযোগ সৃষ্টি হয়? (What are the benefits of marketing?</h3>
            <p>উত্তর: বাজারজাতকরণ দ্বারা যেসব উপযোগ সৃষ্টি হয়- ১. স্থানগত, ২. সময়গত, ৩. মালিকানা হস্তান্তরগত, ও রূপগত উপযোগ।</p>
            <h3>শপিং পণ্য বলতে কী বুঝ? (What do you mean by shopping products ? )</h3>
            <p>উত্তর: যেসব পণ্য ক্রয়ের ক্ষেত্রে ক্রেতারা পণ্যের উপযুক্ততা, গুণাগুণ, মূল্য, স্টাইল ইত্যাদি বৈশিষ্ট্য বিবেচনা করে সেসব পণ্যকে শপিং পণ্য বলে।</p>
            <h3>বাজারজাতকরণ পরিবেশ কী? (What is the marketing environment?)</h3>
            <p>উত্তর: একটি সংগঠনের উপকরণ অর্জন এবং পণ্য উৎপাদনের উপর যে সকল বাহ্যিক শক্তি প্রত্যক্ষ বা পরোক্ষভাবে প্রভাব বিস্তার করে তাকে বাজারজাতকরণ পরিবেশ বলে।</p>
            <h3>GATT এর পূর্ণরূপ লিখ। (Write the full form of GATT.)</h3>
            <p>উত্তর: GATT এর পূর্ণরূপ হলো- General Agreement on Tariffs and Trade</p>
            <h3>অনলাইন মার্কেটিং কী? (What is online marketing?)</h3>
            <p>উত্তর: পারস্পরিক ক্রিয়াশীল অনলাইন কম্পিউটারের পদ্ধতির মাধ্যমে ইলেক্ট্রনিক উপায়ে ক্রেতা ও বিক্রেতার মধ্যে যোগাযোগের প্রক্রিয়াকে অনলাইন বাজারজাতকরণ বলে।</p>
            <h3>উদ্ভাবনী বাজারজাতকরণ কী? (What is innovative marketing?)</h3>
            <p>উত্তর: প্রতিনিয়ত পণ্য ও বাজারজাতকরণ কার্যাবলি উন্নয়নের জন্য কোম্পানি যে আলোকিত বাজারজাতকরণ নীতিমালা অনুসরণ করে তাকে উদ্ভাবনী বাজারজাতকরণ বলে।</p>
            <h3>পণ্য কি? (What is the product ? )</h3>
            <p>উত্তর: গ্রাহকের প্রয়োজন মেটানোর গুণগত দৃশ্যমান ও অদৃশ্যমান বৈশিষ্ট্যের অধিকারী লেনদেনের অনার্থিক উপাদানকে পণ্য বলা হয়।</p>
            <h3>স্টারস পণ্য কি? (What is Stars product? )</h3>
            <p>উত্তর: উচ্চ প্রবৃদ্ধি ও উচ্চ বাজার শেয়ার সম্পন্ন ব্যবসায় বা পণ্যসমূহকে স্টারস পণ্য বলে।</p>
            <h3>কাদেরকে ব্র্যান্ড এ্যাম্বাসেডর বলে? (Whose brand ambassador?)</h3>
            <p>উত্তর: কোনো কোম্পানির পণ্য সম্পর্কে পরিচিত দানে বা বিজ্ঞাপনের যেসব বিখ্যাত বিনোদন ব্যক্তিত্ব তারকাখ্যাত ব্যক্তি নিজেকে উপস্থাপন করে তাদেরকে ব্র্যান্ড এ্যাম্বাসেডর বলে।</p>
            <h3>বাজার বিভক্তিকরণ বলতে কী বুঝায়? (What does market segmentation mean?)</h3>
            <p>উত্তর: বৈসাদৃশ্যপূর্ণ সামগ্রিক বাজারকে ভোক্তা সমাজের বৈশিষ্ট্যের ভিত্তিতে এবং বাজারজাতকরণের সুবিধার্থে কতগুলো উপবিভাগ বা উপবাজারে ভাগ করাকেই বাজার বিভক্তিকরণ বলে।</p>
            <h3>পণ্য মিশ্রণ কি? (What is product mix? )</h3>
            <p>উত্তর: কোনো কোম্পানি বিক্রয়ের জন্য বাজারে যতগুলো পণ্য উপস্থাপন করে তার সমষ্টিকেই পণ্য মিশ্রণ বলে।</p>
            <h3>ব্র্যান্ড কি? (What is the brand?)</h3>
            <p>উত্তর: ব্র্যান্ড হচ্ছে নাম, পদ, চিহ্ন, প্রতীক বা নকশা বা এসবের সংমিশ্রণ যা পণ্য বা সেবার উৎপাদক বা বিক্রেতাকে শনাক্ত করে। অর্থাৎ যা দ্বারা বিক্রেতাদের পণ্য পৃথকভাবে শনাক্ত করা যায় তাকে ব্র্যান্ড বলা হয়।</p>
            <h3>কৌশলগত পরিকল্পনা কি? (What is a strategic plan?)</h3>
            <p>উত্তর: দীর্ঘমেয়াদে টিকে থাকা এবং প্রবৃদ্ধির জন্য কোম্পানির সার্বিক কৌশল নির্বাচনের জটিল কাজকেই কৌশলগত পরিকল্পনা বলা হয়।</p>
            <h3>সমচ্ছেদ বিন্দু কি? (What is the intersection point?)</h3>
            <p>উত্তর: BEP হচ্ছে Break Even Point-এর সংক্ষিপ্ত রূপ, যেখানে পণ্য তৈরির ব্যয়, পণ্য বিক্রয়লব্ধ আয়ের সমান অর্থাৎ No profitm no loss তাঁকে সমচ্ছেদ বিন্দু বলে।</p>
            <h3>সুপার মার্কেট কি? (What is a supermarket? )</h3>
            <p>উত্তর: যে বৃহদায়তন খুচরা ব্যবসায় প্রতিষ্ঠান খাদ্যজাতীয় পণ্য বিক্রয়ের পাশাপাশি অন্যান্য পণ্য বিক্রয় করে থাকে তাকে সুপার মার্কেট বলে। </p>
            <h3>বিজ্ঞাপন কি? (What is advertising?)</h3>
            <p>উত্তর: যে প্রক্রিয়ার মাধ্যমে পণ্য, সেবা কিংবা ধারণা সম্পর্কিত তথ্য চিহ্নিত উদ্যোক্তা কর্তৃক অর্থের বিনিময়ে নৈর্ব্যক্তিক উপায়ে উপস্থাপন করা হয় তাকে বিজ্ঞাপন বলে।</p>
            <h3>কোটা কি? (What is a quota?)</h3>
            <p>উত্তর: কোটা হলো নির্দিষ্ট সময়ে আমদানি বা রপ্তানীর পরিমাণ নির্ধারণকে বোঝায়।</p>
            <h3>সেবা কি? (What is service?)</h3>
            <p>উত্তর: অভাব বা প্রয়োজন মেটাতে পারে এমন অথবা শনাক্তকরণযোগ্য কার্য বা উপকরণ বা সুবিধাকে সেবা বলে।</p>
            <h3>ক্রেতা ইক্যুইটি কী? (What is buyer equity?)</h3>
            <p>উত্তর: বর্তমান ও সম্ভাব্য ক্রেতাকে প্রদানকৃত জীবনব্যাপী ভ্যালুর সমষ্টিকে ক্রেতা ইক্যুইটি বলে। </p>
            <h3>বাজারজাতকরণ মিশ্রণের কেন্দ্রতে কোন উপাদান থাকে? (Which ingredient is at the center of the marketing mix ? )</h3>
            <p>উত্তর: বাজারজাতকরণ মিশ্রণের কেন্দ্রতে যে উপাদান থাকে তাহলো “ক্রেতা"।</p>
            <h3>অনলাইন মার্কেটিং কী? (What is online marketing?)</h3>
            <p>উত্তর: পারস্পরিক ক্রিয়াশীল অনলাইন কম্পিউটারের পদ্ধতির মাধ্যমে ইলেক্ট্রনিক উপায়ে ক্রেতা ও বিক্রেতার মধ্যে যোগাযোগের প্রক্রিয়াকে অনলাইন বাজারজাতকরণ বলে।</p>
            <h3>টেকসই বাজারজাতকরণ বলতে কী বুঝায়? (What does sustainable marketing mean?)</h3>
            <p>উত্তর: বর্তমান ভোক্তাদের সন্তুষ্টি বিধানের পাশাপাশি ভবিষ্যৎ প্রজন্মের প্রয়োজন মেটানোর সক্ষমতা অর্জন করা এবং প্রতিষ্ঠানকে তার উপযোগী করে গড়ে তোলাকে টেকসই বা অস্তিত্বরক্ষামূলক বাজারজাতকরণ বলে।</p>
            <h3>পণ্য লাইন কী? (What is the product line?)</h3>
            <p>উত্তর: কোনো প্রতিষ্ঠান পরস্পর সম্পর্কযুক্ত যেসব পণ্য বাজারে ছাড়ে সেসব পণ্যকে সামগ্রিকভাবে বা সেই বিশেষ রেখাকেই বাজারজাতকরণের ভাষায় পণ্য সারি বা পণ্য রেখা বলে।</p>
            <h3>অযাচিত পণ্য কী? (What is an unwanted product?)</h3>
            <p>উত্তর: ভোগ্যপণ্য যা সম্পর্কে ভোক্তারা জানে না অথবা জানলেও সাধারণত তারা ক্রয়ের কথা চিন্তা করে না তাকে অযাচিত পণ্য বলে।</p>
            <h3>বাজারজাতকরণে “ভ্যালু" বলতে কি বুঝায়? (What does ‘value' mean in marketing?)</h3>
            <p>উত্তর: কোনো পণ্য ভোগ বা ব্যবহারের মাধ্যমে যে সুবিধা পাওয়া যায় এবং তার বিনিময়ে যে অর্থ ব্যয় হয়, এ দুয়ের পার্থক্যকে ভ্যালু বলা হয়।</p>
            <h3>পণ্য ও সেবার স্তর কয়টি? (What are the levels of products and services ?)</h3>
            <p>উত্তর: পণ্যের স্তর তিনটি। যথা— (ক) মূল্য পণ্য; (খ) প্রকৃত পণ্য এবং (গ) বর্ধিত পণ্য ও সেবার স্তর দুইটি। যথা (ক) মুনাফা অর্জনকারী প্রতিষ্ঠানের সেবা ও (খ) অ-ব্যবসায়ী প্রতিষ্ঠানের সেবা।</p>
            <h3>4 "পি" দ্বারা কি বুঝায়? (What is meant by 4p?)</h3>
            <p>উত্তর: 4 P হচ্ছে বাজারজাতকরণের একটি উপাদান, যেগুলো ক্রেতাদের অভাব পূরণ ও সন্তুষ্টি বিধানের সহায়ক হয়।</p>
            <h3>আন্তর্জাতিক বাজারজাতকরণ কী? (What is international marketing? )</h3>
            <p>উত্তর: সমগ্র বিশ্বকে একই বাজার বা একক বাজার হিসেবে বিবেচনা করে বাজারজাতকরণ কার্যক্রম পরিচালনা করাকে বিশ্বব্যাপী বা আন্তর্জাতিক বাজারজাতকরণ বলে।</p>
            <h3>প্রণালির দ্বন্দ্ব কী? (What is method conflict?)</h3>
            <p>উত্তর: প্রণালির সদস্যরা যদি প্রকৃত উদ্দেশ্যার্জন থেকে চ্যুত হয়ে পরস্পরের স্বার্থ সংশ্লিষ্ট বিষয়ে প্রকাশে বা অপ্রকাশ্যে বাধা হয়ে দাঁড়ায় অথবা তাদের মধ্যে নৈরাজ্য বা হতাশার সৃষ্টি করে তাহলে উক্ত হতাশা বা নৈরাজ্যকর অবস্থাকে প্রণালির দ্বন্দ্ব বলে।</p>
            <h3>বাজারজাতকরণ কি? (What is marketing?)</h3>
            <p>উত্তর: উৎপাদকের নিকট থেকে ভোক্তার নিকট পণ্যসামগ্রী পৌঁছে দেয়ার সাথে যত প্রকার ব্যবসায়িক কার্যাবলি জড়িত আছে সেগুলোর সামগ্রিক রূপকেই বাজারজাতকরণ বলে।</p>
            <h3>ভোক্তা আচরণ কি? (What is consumer behavior?)</h3>
            <p>উত্তর: পণ্যসামগ্রী ক্রয়ের সময় একজন ভোক্তাকে যে সকল কার্যাবলি সম্পাদন করতে হয় সে সকল কাজের সাথে সম্পর্কিত সকল আচরণকে ভোক্তা আচরণ বলে।</p>
            <h3>B2B কি? (What is B2B?)</h3>
            <p>উত্তর: ব্যবসায়ী যখন ব্যবসায়ে বা বাজারজাতকরণে আবদ্ধ হয় তখন তাকে B2B বা Business to Business বলা হয়।
            </p>
            <h3>পণ্যের জীবনচক্র কি? (What is the life cycle of the product?)</h3>
            <p>উত্তর: কোনো পণ্য উৎপাদনের পর থেকে আরম্ভ করে বাজার থেকে চিরতরে হারিয়ে যাওয়া পর্যন্ত যেসব পর্যায় বা স্তর অতিক্রম করে সেসব স্তরকে একত্রে বলা হয় পণ্যের জীবনচক্র।</p>
            <h3>ভোক্তাবাদ কি? (What is consumerism?)</h3>
            <p>উত্তর: যে সংগঠিত আন্দোলনের ফলে সরকার ভোক্তাদের স্বার্থ রক্ষার্থে বিক্রেতাদের জন্য বিভিন্ন আইন করেন এবং ভোক্তাদের অধিকারকে স্বীকৃতি দেন তাকে ভোক্তাবাদ বলে।</p>
            <h3>প্রসার মিশ্রণ কি? (What is a spread mixture?)</h3>
            <p>উত্তর: বাজারজাতকরণ ব্যবস্থাপক বিক্রয় উন্নয়ন কার্যক্রমে প্রসার কৌশলের কোনটির কি পরিমাণ বাস্তবে প্রয়োগ করে তার সংমিশ্রণকে প্রমোশন বা প্রসার মিশ্রণ বলে। </p>
            <h3>SWOT বিশ্লেষণ কর। (Analyze SWOT.)</h3>
            <p>উত্তর: কোম্পানির শক্তি (Strenghs), দুর্বলতা (Weakness), সুযোগ (Opportunities) এবং হুমকিগুলো (Threats) বিশ্লেষণকে SWOT বিশ্লেষণ বলে।</p>
            <h3>বাজারজাতকরণ নৈতিকতা কি? (What is marketing ethics?)</h3>
            <p>উত্তর: বাজারজাতকরণের সাথে সংশ্লিষ্ট বিভিন্ন পক্ষকে বিভিন্ন কার্যক্রমের মাধ্যমে ক্ষতিগ্রস্ত বা প্রতারিত না করে। আইনের সাথে সামঞ্জস্যপূর্ণ নীতির আলোকে বাজারজাতকরণ কার্যক্রম সম্পাদন করা হলে তাকে বাজারজাতকরণ নৈতিকতা বলে।</p>
            <h3>বাজারের সংজ্ঞা দাও। (Give definition of market.)</h3>
            <p>উত্তর: কোনো একটা পণ্যের বর্তমান এবং সম্ভাব্য ক্রেতাদের সমষ্টিকে বাজার বলে।</p>
            <h3>বাজারজাতকরণ মিশ্রণের হাতিয়ারসমূহ কি? (What are the tools of the marketing mix? )</h3>
            <p>উত্তর: বাজারজাতকরণ মিশ্রণের হাতিয়ার হলো- পণ্য, মূল্য, প্রসার ও স্থান।</p>
            <h3>ব্যক্তিত্ব কি? (What is personality?)</h3>
            <p>উত্তর: ব্যক্তিত্ব হলো স্বতন্ত্র মানবিক গুণাবলি যার দ্বারা নিজের পরিবেশের প্রতি ব্যক্তির তুলনামূলকভাবে ধারাবাহিক এবং স্থায়ী প্রতিক্রিয়া নির্ধারিত হয়।</p>
            <h3>সংস্কৃতি কী? (What is culture?)</h3>
            <p></p>
            <h3>বাজার পৃথকীকরণ কি? (What is market differentiation?)</h3>
            <p></p>
            <h3>স্টাইল কি? (What is style?)</h3>
            <p>উত্তর: অভিব্যক্তির মৌলিক ও স্বাতন্ত্র্য প্রকাশ হচ্ছে স্টাইল।</p>
            <h3>প্রণালি দ্বন্দ্ব কি? (What is channel conflict?)</h3>
            <p>উত্তর: বণ্টন প্রণালির অন্তর্ভুক্ত সদস্যদের মধ্যে পারস্পরিক স্বার্থ সংশ্লিষ্ট বিষয়ে মতানৈক্য বা দৃষ্টিভঙ্গিতে পার্থক্য দেখা দিলে তাকে প্রণালির দ্বন্দ্ব বলে।</p>
            <h3>IMC এর পূর্ণ প্রকাশ কি? (What is IMC?)</h3>
            <p></p>
            <h3>ভোগ্য পণ্য কি? (What is consumer product ? )</h3>
            <p>উত্তর: চূড়ান্ত ভোক্তা ব্যক্তিগত ভোগের জন্য যেসব পণ্য ক্রয় করে তাকেই ভোগ্য পণ্য বলে।</p>
            <h3>সেবা কি? (What is service?)</h3>
            <p></p>
            <h3>ভ্যালু কী? (What is value?)</h3>
            <p>উত্তর: কোনো পণ্য ভোগ বা ব্যবহারের মাধ্যমে যে সুবিধা পাওয়া যায় এবং তার বিনিময়ে যে অর্থ ব্যয় হয়, এ দু'য়ের পার্থক্যকে ভ্যালু বলা হয়।</p>
            <h3>ই-বাজারজাতকরণ কি? (What is e-marketing Communication?)</h3>
            <p>উত্তর: ই-বাজারজাতকরণ হলো ইন্টারনেটের মাধ্যমে বাজারজাতকরণ নীতিমালা ও কৌশলের প্রয়োগ। বৈদ্যুতিক মাধ্যম ব্যবহারের মাধ্যমে বাজারজাতকরণ নীতিমালা ও কৌশলের প্রয়োগ করা।</p>
            <h3>ভ্যালু কী? (What is value?)</h3>
            <p>উত্তর: কোনো পণ্য ভোগ বা ব্যবহারের মাধ্যমে যে সুবিধা পাওয়া যায় এবং তার বিনিময়ে যে অর্থ ব্যয় হয়, এ দু'য়ের পার্থক্যকে ভ্যালু বলা হয়।</p>
            <h3>ফ্যাশন কী? (What is fashion?)</h3>
            <p>উত্তর: যে সকল শপিং পণ্য ক্রেতারা শখের বশবর্তী হয়ে অথবা চলমান প্রথার সাথে সমন্বয় সাধন করার করে, সে সকল পণ্যকে ফ্যাশন পণ্য বলে।</p>
            <h3>ক্রেতা প্রেষণা বলতে কী বুঝ? (What do you mean by customer motivation?)</h3>
            <p>উত্তর: যেকোনো প্রয়োজনে যখন কোনো ক্রেতা বা ব্যক্তিকে সন্তুষ্টি সন্ধানে উদ্দিপিত করে তখন তাকে ক্রেতা প্রেষণা বলে।</p>
            <h3>AIDA এর পূর্ণরূপ লিখ। (Write down the full form of AIDA.)</h3>
            <p></p>
            <h3>সরতোলা মূল্যনীতি কী? (What is skimming pricing strategy?)</h3>
            <p></p>
            <h3>ব্র্যান্ড ইক্যুইটি কী? (What is brand equity?)</h3>
            <p>উত্তর: ব্র্যান্ড ইক্যুইটি হচ্ছে ব্র্যান্ডের ভাবমূর্তি বা সুনাম যা ব্র্যান্ডকে প্রতিযোগিতামূলক সুবিধা প্রদান করে যার ফলে ব্র্যান্ড উচ্চ মূল্যে বিক্রয় করা যায়।</p>
            <h3>গ্লোবাল ফার্ম কী? (What is globai firm?)</h3>
            <p>উত্তর: যে প্রতিষ্ঠান একাধিক দেশে কার্যক্রম পরিচালনা করে বাজারজাতকরণ, উৎপাদন, গবেষণা ও উন্নয়ন এবং আর্থিক সুবিধাসমূহ অর্জন করে যা অভ্যন্তরীণ প্রতিযোগীদের প্রদান করা হয় না তাকে গ্লোবাল ফার্ম বলে।</p>
            <h3>টেকসই বাজারজাতকরণ কী? (What is sustainable marketing?)</h3>
            <p>উত্তর: বর্তমান ভোক্তাদের সন্তুষ্টি বিধানের পাশাপাশি ভবিষ্যৎ প্রজন্মের প্রয়োজন মেটানোর সক্ষমতা অর্জন করা এবং প্রতিষ্ঠানকে তার উপযোগী করে গড়ে তোলাকে টেকসই বা অস্তিত্বরক্ষামূলক বাজারজাতকরণ বলে।</p>
            <h3>সুপার স্টোর কী? (What is super store?)</h3>
            <p>উত্তর: যে খুচরা ব্যবসায় প্রতিষ্ঠান আয়তনে সুপার মার্কেটের চেয়ে বড় এবং বৈচিত্র্যময় বিভিন্ন ধরনের খাদ্যদ্রব্যসহ ব্যবহারযোগ্য পণ্যসম্ভার থাকে তাকে সুপার স্টোরস্ বলে।</p>
            <h3>7C কি? (What is 7C?)</h3>
            <p>উত্তর: 7C হলো Customer solution, Customer cost, Convenience, Communication, Commodity, Cost Campaign.
            </p>
            <h3>পণ্য লাইন কী? (What is product line?)</h3>
            <p>উত্তর: কোনো প্রতিষ্ঠান পরস্পর সম্পর্কযুক্ত যেসব পণ্য বাজারে ছাড়ে সেসব পণ্যকে সামগ্রিকভাবে বা সেই বিশেষ রেখাকেই বাজারজাতকরণের ভাষায় পণ্য সারি/লাইন বা পণ্য রেখা বলে।</p>
            <h3>CAB এর পূর্ণরূপ কী? (What is the full from CAB?)</h3>
            <p>উত্তর: Consumer Association of Bangladesh বা বাংলাদেশ ভোক্তা সমিতি।</p>
            <h3>ব্যষ্টিক পরিবেশ কী? (What is micro environment?)</h3>
            <p></p>
            <h3>সেবা বলতে কি বুঝ?</h3>
            <p>সেবা হলো কোন কাজ বা সুবিধা যা এক পক্ষ অন্য পক্ষকে প্রদান করতে পারে, যা অবশ্যই অস্পর্শনীয় এবং মালিকানা কোন পরিবর্তন আসে না। যেমন- প্রশিক্ষণ সেবা, ভ্রমণ সেবা, নিরাপত্তা সেবা।</p>
        </section>
        <section id="section-b" class="section-b">
            <h2 class="question-section">Section B questions</h2>
            <ol class="mb-2 custom-list">
                <li class="individual-question"><a href="#question-1">মিশন ও উদ্দেশ্যের মধ্যে পার্থক্য (Differences between Mission and Objective)</a></li>
                <li class="individual-question"><a href="#question-2">প্রয়োজন অভাব/আকাঙ্ক্ষা ও চাহিদার মধ্যে পার্থক্য (Difference among need, want and demand)</a></li>
            </ol>
        </section>
        <section id="section-c" class="section-c">
            <h2 class="question-section">Section C questions</h2>
            <ol class="mb-2 custom-list">
                <li class="individual-question"><a href="#question-sc-1">বাংলাদেশের ন্যায় উন্নয়নশীল দেশের অর্থনৈতিক উন্নয়নে বাজারজাতকরণের ভূমিকা। (Role of Marketing in the Economic Development of a Developing Country like Bangladesh.)</a></li>
                <li class="individual-question"><a href="#question-sc-2">কৌশলগত ব্যবসায় একক মূল্যায়নে ব্যবহৃত বিসিজি (BCG) অ্যাপ্রোচ। (BCG(The Boston Consulting Group) Approach for Evaluating Strategic Business Unit.)</a></li>
                <li class="individual-question"><a href="#question-sc-3">সমন্বিত বাজারজাতকরণ মিশ্রণ উন্নয়ন/ বাজারজাতকরণ মিশ্রণের উপাদান। (Developing and Integreted Marketing Mix /Elements of Marketing Mix)</a></li>
                <li class="individual-question"><a href="#question-sc-4">সেবার প্রকৃতি ও বৈশিষ্ট্য (Nature and Characteristics of Service)</a></li>
            </ol>
        </section>
        <section id="answers" class="answers">
            <article id="question-1" class="responsive-table">
                <table>
                    <caption>মিশন ও উদ্দেশ্যের মধ্যে পার্থক্য</caption>
                    <tr>
                        <th>পার্থক্যের বিষয়</th>
                        <th>মিশন</th>
                        <th>উদ্দেশ্য</th>
                    </tr>
                    <tr>
                        <td>সংজ্ঞা</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>সময়সীমা</td>
                        <td>এর নির্দিষ্ট সময় সীমা নেই।</td>
                        <td>এর নির্দিষ্ট সময়সীমা আছে।</td>
                    </tr>
                    <tr>
                        <td>পরিমাপ যোগ্যতা</td>
                        <td>এটি পরিমাপযোগ্য নয়।</td>
                        <td>এটি পরিমাপযোগ্য</td>
                    </tr>
                    <tr>
                        <td>পরিবর্তন</td>
                        <td>মিশন বারবার পরিবর্তিত হয় না।</td>
                        <td>উদ্দেশ্য বারবার পরিবর্তিত হয়।</td>
                    </tr>
                    <tr>
                        <td>কৌশলগত ব্যবসায় একক</td>
                        <td>একটি কৌশলগত ব্যবসায় এককের একটি মাত্র মিশন থাকে।</td>
                        <td>একটি কৌশলগত ব্যবসায় এককের অনেকগুলো উদ্দেশ্য থাকতে পারে।</td>
                    </tr>
                    <tr>
                        <td>মেয়াদ</td>
                        <td>এটি সর্বদা দীর্ঘমেয়াদি হয়।</td>
                        <td>এটি স্বল্পমেয়াদি বা দীর্ঘমেয়াদি হতে পারে।</td>
                    </tr>
                </table>
            </article>
            <article id="question-2" class="responsive-table">
                <table>
                    <caption>প্রয়োজন অভাব/আকাঙ্ক্ষা ও চাহিদার মধ্যে পার্থক্য</caption>
                    <tr>
                        <th>পার্থক্যের বিষয়</th>
                        <th>প্রয়োজন</th>
                        <th>অভাব</th>
                        <th>চাহিদা</th>
                    </tr>
                    <tr>
                        <td>সংজ্ঞা</td>
                        <td>ভোক্তা যখন কোন কিছু থেকে নিজেকে বঞ্চিত মনে করে তখন তার অনুভূতিকেই প্রয়োজন বলে।</td>
                        <td>প্রয়োজন যখন ভোক্তার সংস্কৃতি ও ব্যক্তিত্ব দ্বারা প্রভাবিত হয়ে বাস্তবে প্রকাশ পায় তখন তাকে অভাব বলে।</td>
                        <td>ভোক্তার অভাব যখন ক্রয়ক্ষমতার শর্ত পূরণ করে তখন তাকে চাহিদা বলে।</td>
                    </tr>
                    <tr>
                        <td>সৃষ্টি (Creation)</td>
                        <td>মানুষের বঞ্চনাবোধ হতে প্রয়োজন সৃষ্টি হয়।</td>
                        <td>প্রয়োজন থেকে অভাব সৃষ্টি হয়।</td>
                        <td>আর অভাব থেকে সৃষ্টি হয় চাহিদার।</td>
                    </tr>
                    <tr>
                        <td>বাজারজাতকারীর ভূমিকা (Role of marketers)</td>
                        <td>প্রয়োজন বাজারজাতকারী সৃষ্টি করতে পারে না।</td>
                        <td>অভাব বাজারজাতকারী সৃষ্টি করতে পারে।</td>
                        <td>ক্রয় ক্ষমতার শর্ত সাপেক্ষে বাজারজাতকারী চাহিদা সৃষ্টি করতে পারে।</td>
                    </tr>
                    <tr>
                        <td>ধারাবাহিক কার্যক্রম (Sequential activities)</td>
                        <td>ভোক্তা সর্বপ্রথম প্রয়োজনের কথা চিন্তা করে।</td>
                        <td>প্রয়োজনের পর অভাবের প্রকাশ ঘটে।</td>
                        <td>সর্বশেষে অভাব চাহিদায় রূপান্তরিত হয়।</td>
                    </tr>
                    <tr>
                        <td>সম্পৃক্ততা (Involvement)</td>
                        <td>এটি সামাজিক অবস্থার সাথে সম্পৃক্ত।</td>
                        <td>এটি সংস্কৃতি ও ব্যক্তিত্বের সাথে সম্পৃক্ত।</td>
                        <td>এটি অর্থ এবং অর্থ ব্যয় করার সামর্থ্য, ইচ্ছা ও কর্তৃত্বের সাথে সম্পৃক্ত।</td>
                    </tr>
                    <tr>
                        <td>নির্দেশ করা (Direction)</td>
                        <td>প্রয়োজন মৌলিক সমস্যাকে নির্দেশ করে।</td>
                        <td>অভাব কোন সু-নির্দিষ্ট পণ্য বা সেবাকে নির্দেশ করে।</td>
                        <td>চাহিদা পণ্য ক্রয়ের ইচ্ছা, আর্থিক সামর্থ্য এবং উক্ত অর্থ ব্যয়ের ইচ্ছা ও কর্তৃত্বকে নির্দেশ করে।</td>
                    </tr>
                </table>
            </article>
            <article id="question-sc-1">
                <h3>অর্থনৈতিক উন্নয়নে বাজারজাতকরণের ভূমিকা।</h3>
                <p>
                    দেশের সম্পদ যথাযথ ব্যবহারের মাধ্যমে মাথাপিছু আয় ও জীবনযাত্রার মান বৃদ্ধি পেলে তাকে অর্থনৈতিক উন্নয়ন বলে। বাজারজাতকরণ যে কোন দেশের অর্থনৈতিক উন্নয়নে গুরুত্বপূর্ণ ভুমিকা পালন করে। তাই বাজারজাতকরণকে অর্থনৈতিক উন্নয়নের চাবিকাঠি বলা হয়। নিম্নে বাংলাদেশের মতো উন্নয়নশীল দেশের অর্থনেতিক উন্নয়নে বাজারজাতকরণের ভূমিকা আলোচনা করা হলো-
                <ol>
                    <li class="individual-question"><mark class="highlight">বৈদেশিক বাণিজ্যের উন্নয়ন (Development of foreign trade):</mark> দক্ষ বাজারজাতকরণ ব্যবস্থার মাধ্যমে দেশে-বিদেশে পণ্যের ব্যাপক চাহিদা সৃষ্টি হয়। উক্ত চাহিদা পূরণের লক্ষ্যে বাজারজাতকারীকে আন্তর্জাতিক বাজারজাতকরণের সাথে সম্পৃক্ত হতে হয়। অতএব বাজারজাতকরণ বৈদেশিক বাণিজ্যের উন্নয়নের মাধ্যমে উন্নয়নশীল দেশের অর্থনৈতিক উন্নয়নে গুরুত্বপূর্ণ অবদান রাখে।</li>
                    <li class="individual-question"><mark class="highlight">বাজার উন্নয়ন ও বর্ধিতকরণ (Market development and expansion):</mark> কোন পণ্য দেশীয় বাজারে ব্যাপক পরিচিতি করানো ছাড়াও বিদেশি বাজারে পণ্যটি গ্রহণযোগ্য করার ক্ষেত্রে বাজারজাতকরণ প্রতিষ্ঠানগুলো বিভিন্ন কার্যাবলি সম্পাদন করে থাকে।</li>
                    <li class="individual-question"><mark class="highlight">কর্মসংস্থানের সুযোগ সৃষ্টি (Creating employment opportunity):</mark> বাজারজাতকরণ দেশের মানুষের কর্মসংস্থানে বিশেষ অবদান রাখে। এর মাধ্যমে দেশে নতুন নতুন শিল্প ও ব্যবসা প্রতিষ্ঠান গড়ে ওঠে। সেখানে বিপুল সংখ্যক মানুষের কর্মসংস্থান হয়।</li>
                    <li class="individual-question"><mark class="highlight">প্রতিযোগিতার সুবিধা (Facilitating competition):</mark> বাজারজাতকরণ ব্যবস্থা দক্ষ হলে বাজারে প্রতিযোগিতা বিদ্যমান থাকে। ফলে বিভিন্ন প্রতিযোগী একে অপরের সাথে প্রতিযোগিতা করে সর্বোৎকৃষ্ট মানসম্পন্ন পণ্য ক্রেতা বা ভোক্তাদের কাছে উপস্থাপন করে। এতে বাজারে প্রতিযোগিতা সৃষ্টি হয় এবং দেশের অর্থনীতির উন্নয়ন সাধিত হয়।</li>
                    <li class="individual-question"><mark class="highlight">অপ্রচলিত পণ্যের রপ্তানি (Export of obsolete goods):</mark> বাজারজাতকারীরা প্রচলিত পণ্য রপ্তানির পাশাপাশি অপ্রচলিত পণ্য যেমন ফুল, শাকসবজি, ফলমূল, হস্ত ও কুটির শিল্পে উৎপাদিত বিভিন্ন সামগ্রী রপ্তানির মাধ্যমে দেশের অর্থনৈতিক উন্নয়নে ভূমিকা রেখে থাকে। দেশে উৎপাদিত এসব অপ্রচলিত পণ্যের বাজার বর্তমানে মধ্যপ্রাচ্য এবং ইউরোপ আমেরিকার দেশগুলোতে সম্প্রসারিত হয়েছে।</li>
                    <li class="individual-question"><mark class="highlight">শিল্পোৎপাদন বৃদ্ধি ও শিল্পায়ন (Increasing industrial production and industrialization):</mark>  বাজারজাতকরণ ভোক্তাদের প্রয়োজন অনুসারে নতুন নতুন পণ্য উদ্ভাবন করে। এতে ভোক্তারা ঐ উদ্ভাবিত নতুন পণ্যগুলি অধিক মাত্রায় ব্যবহার বা ভোগ করে। ফলে শিল্পে উৎপাদনের পরিমাণ বৃদ্ধি পায় এবং দেশের অর্থনৈতিক অবস্থার উন্নয়ন সাধিত হয়।</li>
                    <li class="individual-question"><mark class="highlight">সংরক্ষণ সুবিধার প্রসার (Expansion of storage facilities):</mark> বাজারজাতকরণ সংরক্ষণ সুবিধার প্রসার ঘটিয়ে পণ্য মূল্যের স্থিতিশীলতা বজায় রাখে। মৌসুমি পণ্য এবং হিমায়িত পচনশীল পণ্য সুষ্ঠুভাবে সংরক্ষণ করে দেশ-বিদেশে ভোক্তাদের হাতে চাহিদা অনুসারে পৌঁছে দিয়ে বাজারজাতকরণ একটি দেশের অর্থনৈতিক উন্নয়নে গুরুত্বপূর্ণ ভূমিকা পালন করে।</li>
                    <li class="individual-question"><mark class="highlight">জীবনযাত্রার মান উন্নয়ন (Development of standard of living):</mark> বাজারজাতকরণ মানুষের প্রয়োজন ও অভাবের সাথে মিল রেখে পণ্য উৎপাদন ও বাজারজাতকরণ করায় ভোক্তারা কাঙ্খিত পণ্যটি পায়। ফলে সার্বিক ভাবে ভোগ বা ব্যবহারের পরিমাণ বৃদ্ধি পায়। এতে দেশের জনগণের জীবনযাত্রার মান উন্নত হওয়ার সাথে সাথে অর্থনৈতিক অবস্থার উন্নয়ন সাধিত হয়।</li>
                </ol>
                <p>উপরিউক্ত আলোচনার প্রেক্ষিতে বলা যায়, বাজারজাতকরণ একটি দেশের অর্থনৈতিক উন্নয়নে গুরুত্বপূর্ণ ভূমিকা পালন করে। অর্থাৎ বাজারজাতকরণ একদিকে মানুষের আয় ও ভোগ বৃদ্ধি করে, অন্যদিকে প্রতিষ্ঠানের জন্য মুনাফা অর্জন ও প্রতিষ্ঠানের অস্তিত্ব টিকিয়ে রাখে এবং সর্বোপরি রাষ্ট্রীয় পর্যায়ে দেশের অর্থনীতিকে শক্তিশালী করে তোলে।</p>
            </article>
            <article id="question-sc-2">
                <h3>(BCG) অ্যাপ্রোচ। BCG = The Boston Consulting Group</h3>
                <p>প্রত্যেকটি কোম্পানিরই এক বা একাধিক কৌশলগত ব্যবসায় একা। এককসমূহ মূল্যায়নের মাধ্যমে কোম্পানি তার লাভজনক ও অলাভজনক ব্যবসার চিহ্নিত করে সে অনুযায়ী পরিকল্পনা ও কৌশল গ্রহণ করে। কৌশলগত ব্যবসায় একক মূল্যায়নের একটি জনপ্রিয় মডেল বা অ্যাপ্রোচ হচ্ছে বিসিজি অ্যাপ্রোচ। নিচে অ্যাপ্রোচটি বর্ণনা করা হলো-</p>
                Chart
                <p>চিত্রে আটটি বৃত্ত দ্বারা একটি কাল্পনিক কোম্পানির আটটি ব্যবসায় এককের বর্তমান আয়তন ও অবস্থান দেখানো হয়েছে। প্রতিটি ব্যবসায় একক হতে অর্জিত অর্থ দ্বারা ব্যবসায় খাতগুলোর আয়তন নির্দেশিত হয়েছে। অর্জিত অর্থের হিসেব অনুযায়ী ৫নং ও ৬নং বৃত্ত হচ্ছে সবচেয়ে বড় দু'টি ব্যবসায় একক। প্রতিটি ব্যবসায় এককের | অবস্থান তার বাজার প্রবৃদ্ধির হার ও তুলনামূলক বাজার শেয়ার নির্দেশ করছে।</p>
                <ul>
                    <li class="individual-question"><mark class="highlight">বাজার প্রবৃদ্ধির হার (Market growth rate):</mark> বাজার প্রবৃদ্ধির হার বলতে গত বছরের তুলনায় বিক্রির পরিমাণ বৃদ্ধির শতকরা হারকে বুঝায়। বাজার প্রবৃদ্ধির হার নিম্নোক্ত পদ্ধতিতে বের করা যায়।
                    <p class="highlight-rule mb-0">বাজার প্রবৃদ্ধির হার(বর্তমান বছরের) = {(মোট বাজার[বর্তমান বছরের] - মোট বাজার[পূর্ববর্তী বছরের]) ÷ মোট বাজার[পূর্ববর্তী বছরের]} x ১০০</p></li>
                    <li class="individual-question"><mark class="highlight">তুলনামূলক বাজার শেয়ার (Relative market share):</mark> তুলনামূলক বাজার শেয়ার বলতে নিকটতম প্রিতিযোগীর তুলনায় কোন কোম্পানির বাজার শেয়ারের পরিমাণকে বুঝায়। কোন নির্দিষ্ট বছরের তুলনামূলক বাজার শেয়ার নিম্নোক্ত পদ্ধতিতে বের করা যায়।
                    <p class="highlight-rule mb-0">তুলনামূলক বাজার শেয়ার(বর্তমান বছরের)= ব্যবসায় এককের বিক্রয়(বর্তমান বছরের) ÷ শীর্ষ প্রতিযোগীর বিক্রয়(বর্তমান বছরের)</p></li>
                </ul>
                <p>বোস্টন কনসাল্টিং গ্রুপের প্রবৃদ্ধি শেয়ার মেট্রিক্সকে চারভাগে ভাগ করে বিভিন্ন কৌশলগত ব্যবসায় এককের বাজার প্রবৃদ্ধির হার ও তুলনামূলক বাজার শেয়ার দেখানো হয়েছে। নিম্নে এগুলো সম্পর্কে বর্ণনা করা হলো-</p>
                <ol>
                    <li class="individual-question"><mark class="highlight">কোয়েশ্চেন মার্কস (Question marks):</mark> কোয়েশ্চেন মার্কস হচ্ছে উচ্চ বাজার প্রবৃদ্ধি ও নিম্ন বাজার শেয়ার সম্পন্ন ব্যবসায় এককসমূহ। এ সকল ব্যবসায় এককের বাজার শেয়ার বৃদ্ধির জন্য প্রচুর নগদ টাকা বিনিয়োগ করতে হয়। কোম্পানিকে বিবেচনা করতে হবে কোন কোয়েশ্চেন মার্ক ব্যবসায় এককটিকে স্টারে রূপান্তর করা যাবে এবং কোনটিকে বাদ দিতে হবে।</li>
                    <li class="individual-question"><mark class="highlight">স্টারস (Stars):</mark>  স্টারস হচ্ছে উচ্চ-প্রবৃদ্ধি ও উচ্চ বাজার শেয়ার সম্পন্ন ব্যবসায় বা পণ্যসমূহ। এ ধরনের ব্যবসায়ের দ্রুত প্রবৃদ্ধির জন্য ব্যাপক বিনিয়োগ প্রয়োজন হয়। অবশ্য এ সকল ব্যবসায়ের প্রবৃদ্ধি এক সময়ে কমে আসে এবং তখন এরা ক্যাস কাউ-এ পরিণত হয়।</li>
                    <li class="individual-question"><mark class="highlight">ক্যাস কাউজ (Cash cows):</mark> ক্যাস কাউ হচ্ছে নিম্ন প্রবৃদ্ধি ও উচ্চ বাজার শেয়ার সম্পন্ন ব্যবসায় বা পণ্যসমূহ। এ সকল ব্যবসায়ে অল্প বিনিয়োগ দ্বারাই বাজার শেয়ার ধরে রাখা যায়। এ সকল ব্যবসায় বা পণ্য হতে কোম্পানির প্রচুর অর্থ অর্জিত হয় যা দ্বারা বিভিন্ন দেনা পরিশোধ ও অন্য ব্যবসায়। এককে বিনিয়োগ করা হয়।</li>
                    <li class="individual-question"><mark class="highlight">ডগস (Dogs):</mark> ডগস হচ্ছে নিম্ন প্রবৃদ্ধি ও নিম্ন বাজার শেয়ার সম্পন্ন ব্যবসায় ও পণ্যসমূহ। এ ধরনের ব্যবসায় হতে অর্জিত আয় নিজেকে টিকিয়ে রাখার জন্য ব্যয় হয়ে যায়। এ কারণে এ ধরনের ব্যবসায় বা পণ্য পরিহারযোগ্য বলে বিবেচিত।</li>
                </ol>
                <p>প্রবৃদ্ধি শেয়ার মেট্রিক্সকে প্রতিস্থাপনের মাধ্যমে কোম্পানি তার ব্যবসায় খাতগুলোর অবস্থা সম্পর্কে জানতে পারে। ডগ বা কোয়েশ্চেন মার্কের সংখ্যা বেশি হলে এবং স্টার ও ক্যাস কাউয়ের সংখ্যা কম হলে কোম্পানির ব্যবসায় খাতে ভারসাম্যহীন অবস্থা সৃষ্টি হয়।</p>
                <p><span class="highlight">কৌশলগত ব্যবসায় এককের জন্য গৃহীত কৌশলসমূহ (Strategic business unit strategies):</span> কৌশলগত ব্যবসায় এককগুলোর বাজার প্রবৃদ্ধির হার ও বাজার শেয়ার নির্ধারণের পর প্রতিটি কৌশলগত ব্যবসায় এককের জন্য লক্ষ্য, উদ্দেশ্য ও বাজেট নির্দিষ্ট করা হয়। এক্ষেত্রে চারটি কৌশল গ্রহণ করা হয়। নিম্নে এ চারটি কৌশলের বর্ণনা দেয়া হলো</p>
                <ol>
                    <li class="individual-question"><mark class="highlight">বাজার শেয়ার গঠন/বৃদ্ধি করা (Build/Increase market share):</mark> কোন ব্যবসায়ে অধিক বিনিয়োগের মাধ্যমে বাজার শেয়ার বৃদ্ধির কৌশলকে বলে বাজার শেয়ার গঠন বা বৃদ্ধি করা। কোয়েশ্চেন মার্ক ও স্টারের ঘরে অবস্থিত সম্ভাবনাময় ব্যবসায় এককগুলোর জন্য এ ধরনের কৌশল গ্রহণ করা হয়।</li>
                    <li class="individual-question"><mark class="highlight">ধরে রাখা (Hold):</mark>  কোন ব্যবসায়ে যে পরিমাণ অর্থ প্রয়োজন সে পরিমাণ অর্থ বিনিয়োগের কৌশলকে বলা হয় বাজার শেয়ার ধরে রাখা। ক্যাস কাউ এর ক্ষেত্রে এ কৌশল গ্রহণ করা হয়।</li>
                    <li class="individual-question"><mark class="highlight">তুলে নেয়া (Harvest):</mark> দীর্ঘমেয়াদি ফলাফল বিবেচনা না করে স্বল্প সময়ে কোন ব্যবসায় হতে যত বেশি সম্ভব নগদ টাকা তুলে নেয়ার কৌশলকে বলা হয় নগদ অর্থ তুলে নেয়া। বিশেষ করে দুর্বল ক্যাস কাউ, সম্ভাবনাহীন কোয়েশ্চেন মার্ক ও ডগের জন্য এ কৌশল গ্রহণ করা হয়।।</li>
                    <li class="individual-question"><mark class="highlight">তরলীকরণ (Liquidation):</mark> কোন ব্যবসায় বন্ধ বা বিক্রির মাধ্যমে পুঁজি প্রত্যাহার করে নেয়ার কৌশলকে বিলগ্নিকরণ বা তরলীকরণ বলে। কোয়েশ্চেন মার্ক ও ডগের ক্ষেত্রে এ ধরনের কৌশল গ্রহণ করা হয়। কোন ব্যবসায় বা পণ্য হতে মুনাফা অর্জনের ন্যূনতম সম্ভাবনা না থাকলে এ ধরনের কৌশল গ্রহণ করা হয়।</li>
                </ol>
                <p>সময়ের পরিবর্তনের সাথে সাথে কৌশলগত ব্যবসায় এককগুলোর অবস্থান পরিবর্তিত হয়। জীবনচক্রের শুরুতে কোন ব্যবসায় বা পণ্য কোয়েশ্চেন মার্কস-এ অবস্থান করলেও পরবর্তীতে তা স্টারে, স্টার হতে ক্যাস কাউ-এ এবং ক্যাস কাউ হতে ডগস এ পরিণত হয়। তবে এর ব্যতিক্রমও হতে পারে।</p>
            </article>
            <article id="question-sc-3">
                <h3>সমন্বিত বাজারজাতকরণ মিশ্রণ উন্নয়ন</h3>
                <p>বাজারজাতকরণ মিশ্রণ হচ্ছে ভোক্তা বা ক্রেতার প্রয়োজন ও অভাবের সন্তুষ্টিবিধানের উদ্দেশ্যে একসেট নিয়ন্ত্রণযোগ্য উপাদানের সমন্বয় সাধন। নিম্নে চিত্রের সাহায্যে বাজারজাতকরণ মিশ্রণের চারটি 'P' কে উপস্থাপন করা হলো-</p>
                Chart
                <ol>
                    <li class="individual-question">
                        <mark class="highlight">পণ্য (Product):</mark> Product defination + একজন বাজারজাতকারীর বাজারজাতকরণের মূল উপাদানই পণ্য। তাই তাকে পণ্যের নিম্নলিখিত বিভিন্ন দিক সম্পর্কে সিদ্ধান্ত নিতে হয়।
                        <ul>
                            <li><mark class="highlight">ব্র্যান্ড নাম (Brand name):</mark> একটি নাম, চিহ্ন, প্রতীক, অথবা এগুলোর একটি মিশ্রণকে ব্র্যান্ড নাম বলে। সহজে মনে রাখা যায়, উচ্চারণ করা যায় এমন ব্র্যান্ড নাম ব্যবহার অত্যাবশ্যক।</li>
                            <li><mark class="highlight">বৈশিষ্ট্য (Features):</mark> পণ্য উৎপাদনে ব্যবহৃত প্রযুক্তি, কাঁচামাল, বং, ফিনিশিং, আকার-আকৃতি, ইত্যাদি পণ্যের বৈশিষ্ট্য নির্দেশ করে। বাজারজাতকারী ভোক্তাদের প্রয়োজন ও পছন্দের প্রতি লক্ষ্য রেখে নতুন নতুন বৈশিষ্ট্য সংযোজন করে থাকে।</li>
                            <li><mark class="highlight">ডিজাইন (Design):</mark> ভোক্তারা পণ্য পছন্দের সময় ঐ পণ্যের ডিজাইনের উপর গুরুত্ব দিয়ে থাকে। তাই পণ্যের ডিজাইন হবে আধুনিক, আকর্ষণীয় ও সুন্দর।</li>
                        </ul>
                    </li>
                    <li class="individual-question">
                        <mark class="highlight">মূল্য (Price):</mark> Price defination + মূল্য একজন বাজারজাতকারীর কাছে বিশেষভাবে গুরুত্বপূর্ণ। কেননা প্রতিষ্ঠানের অস্তিত্ব টিকিয়ে রাখা, চলতি মুনাফা সর্বোচ্চকরণ, প্রতিযোগীদের প্রতিরোধ, মধ্যস্থ ব্যবসায়ী ও ভোক্তাদের আনুগত্য নিশ্চিত করা ইত্যাদি উদ্দেশ্যগুলো মূল্যের মাধ্যমে বাজারজাতকারী অর্জন করে। নিম্নে মূল্যের কয়েকটি গুরুত্বপূর্ণ উপাদান আলোচনা করা হলো-
                        <ul>
                            <li><mark class="highlight">বাট্টা (Discounts):</mark> পণ্য বিক্রয়ের সময় পণ্যের প্যাকেট বা লেবেলের উপর লিখিত মূল্য অপেক্ষা যতটুকু কম নেয়া হয় তাকে বাট্টা বলে। নগদ অর্থে পণ্য ক্রয় করলে নগদ বাট্টা দেয়া হয়। এছাড়া একসাথে অধিক পরিমাণ পণ্য ক্রয় করলে, মন্দা মৌসুম বা অফ সিজনে পণ্য ক্রয় করলেও বাট্টা প্রদান করা হয়। ভোক্তা বা ক্রেতার প্রত্যাশা অনুযায়ী বাট্টা প্রদান করলে তারা পণ্য ক্রয়ে আকৃষ্ট হয়।</li>
                            <li><mark class="highlight">ছাড় (Allowances):</mark> পণ্যের স্টক ক্লিয়ার করার জন্য অনেক সময় তালিকা মূল্যের উপর ক্রেতাকে বিশেষ Allowances বা ছাড় প্রদান করা হয়। এ সুবিধা গ্রহণ করার জন্য ক্রেতারা সাধারণ সময়ের তুলনায় বেশি পরিমাণ পণ্য ক্রয় করে থাকে।</li>
                            <li><mark class="highlight">পরিশোধের সময় (Payment period):</mark> পণ্য ক্রয়ের সাথে সাথে মূল্য পরিশোধ করতে হবে, না ভোক্তা বা ক্রেতা ইচ্ছা করলে কিস্তিতে মূল্য পরিশোধের সুবিধা পাবে সে বিষয়ে বাজারজাতকারীকে পূর্বেই সিদ্ধান্ত গ্রহণ করতে হয়। মূল্য পরিশোধের সময় বেশি দিলে ক্রেতা বা ভোক্তারা পণ্য ক্রয়ে আকৃষ্ট হয়। সাধারণত কিছুটা দামি পণ্যের ক্ষেত্রে ক্রেতা বা ভোক্তাকে কিস্তিতে মূল্য পরিশোধের সুযোগ প্রদান করা হয়।</li>
                        </ul>
                    </li>
                    <li class="individual-question">
                        <mark class="highlight">বণ্টন (Place/Distribution):</mark> Place defination + আমরা জানি পণ্য উৎপাদন হয় একটি নির্দিষ্ট স্থানে বা অঞ্চলে কিন্তু তার ভোগ চলে সারাদেশে এমনকি বিশ্বব্যাপী। হাজার হাজার মাইল দূরে উৎপাদিত পণ্যও আমরা ভোগ করার সুযোগ পাচ্ছি শুধু সুষ্ঠু বণ্টন ব্যবস্থার কারণে। নিম্নে বণ্টনের গুরুত্বপূর্ণ উপাদানসমূহ আলোচনা করা হলো-
                        <ul>
                            <li><mark class="highlight">কভারেজ (Coverage):</mark> পণ্য বিস্তৃত এলাকায় বণ্টনের জন্য দীর্ঘ এবং স্বল্প দূরত্বে বণ্টনের জন্য ক্ষুদ্র বণ্টন প্রণালী ব্যবহৃত হয়। তাই বাজারজাতকারী বণ্টন প্রণালী নির্বাচন করার সময় তার কভারেজ বেশি না কম তাও বিবেচনায় এনে থাকে।</li>
                            <li><mark class="highlight">মজুদ পণ্য (Inventory):</mark> বিক্রয়ের উদ্দেশ্যে জমাকৃত পণ্যকে মজুদ পণ্য বলে। বাজারজাতকারীকে প্রতিষ্ঠানের সুনাম, বিশ্বস্ততা এবং বাজার ধরে রাখার জন্য পর্যাপ্ত পরিমাণ পণ্য মজুদ রাখতে হয়।</li>
                            <li><mark class="highlight">পরিবহন (Transportation):</mark> পণ্য বণ্টনের সাথে পরিবহন অত্যন্ত ঘনিষ্টভাবে জড়িত। পণ্যের প্রকৃতি, চাহিদা, ব্যয়, গতি, নির্ভরযোগ্যতা, পরিবহনের প্রাপ্যতা ইত্যাদি উপাদান বিবেচনা করে পরিবহন মাধ্যম নির্বাচন করতে হয়।</li>
                        </ul>
                    </li>
                    <li class="individual-question">
                        <mark class="highlight">প্রসার (Promotion):</mark> Promotion + বর্তমান প্রতিযোগিতামূলক বাজারজাতকরণ পরিবেশে যথাসময়ে সঠিক প্রসার কৌশল নির্বাচন অত্যন্ত গুরুত্বপূর্ণ। নিয়ে প্রসারের কৌশল সম্পর্কে আলোচনা করা হলো-
                        <ul>
                            <li><mark class="highlight">বিজ্ঞাপন (Advertising):</mark> চিহ্নিত উদ্যোক্তা কর্তৃক অর্থের বিনিময়ে, নৈর্ব্যক্তিক উপায়ে, পণ্য, সেবা, বা ধারণার বাজার প্রসারের জন্য পরিচালিত কার্যক্রমকে বিজ্ঞাপন বলে।</li>
                            <li><mark class="highlight">ব্যক্তিক বিক্রয় (Personal selling):</mark> বিক্রয়কর্মী সরাসরি ভোক্তা বা ক্রেতাদের সামনে উপস্থিত হয়ে পণ্য সম্পর্কিত তথ্য উপস্থাপন, ক্রয়ে প্ররোচিতকরণ ও বিক্রয়কার্য সম্পাদনকে ব্যক্তিক বিক্রয় বলে।</li>
                            <li><mark class="highlight">বিক্রয় প্রসার (Sales promotion):</mark> বিক্রয় প্রসার হচ্ছে স্বল্পমেয়াদি প্রণোদনা যা পণ্যের প্রতি ভোক্তা বা ক্রেতাদের দৃষ্টি আকর্ষণ ও পণ্য ক্রয়ে আগ্রহী করে তোলে। যেমন-বিনামূল্যে নমুনা পণ্য বিতরণ, মূল্য হ্রাস ইত্যাদি।</li>
                        </ul>
                    </li>
                </ol>
                <p>অতএব, বাজারজাতকরণ মিশ্রণের এই পারস্পরিক সম্পর্কযুক্ত উপাদানসমূহ সম্পর্কে বাজারজাতকারীরা অত্যন্ত সতর্কতার সাথে সিদ্ধান্ত গ্রহণ করবেন।</p>
            </article>
            <article id="question-sc-4">
                <h3>সেবার প্রকৃতি ও বৈশিষ্ট্য</h3>
                <p>Service D + সেবা কোন বস্তুগত পণ্যের সঙ্গেও সম্পৃক্ত থাকতে পারে আবার নাও পারে। পণ্যের মতো সেবার কতিপয় স্বতন্ত্র বৈশিষ্ট্য রয়েছে। এ বৈশিষ্ট্যগুলোর দ্বারা সবকে সহজেই বস্তুগত পণ্য থেকে পৃথক করা যায়। এসব স্বতন্ত্র বৈশিষ্ট্য বিদ্যমান থাকার কারণে সেবার জন্য পৃথক ধরনের বাজারজাতকরণ কর্মসূচি প্রণয়নের প্রয়োজন দেখা দেয়। নিচে সেবার বিশেষ বৈশিষ্ট্যসমূহ চিত্রে উপস্থাপনের মাধ্যমে আলোচনা করা হলো-</p>
                Chart
                <ol>
                    <li>
                        <mark class="highlight">অদৃশ্যমানতা (Intangibility):</mark> সেবার কোন ভৌতিক অবয়ব (physical appearance) না থাকায় সেবাকে দেখা/ স্পর্শ করা যায় না। এটি সেবার প্রধান একটি বৈশিষ্ট্য। সেবা ক্রয়ের পূর্বে দেখা, স্বাদ নেয়া, অনুভব করা বা গন্ধ নেয়া যায় না। এমনকি ক্রয়ের পূর্বে সেবা যাচাই করা এবং ফলাফল পূর্বানুমান করাও সম্ভব হয় না। সেবার সুবিধাকে তুলে ধরার জন্য চার ধরনের প্রসারমূলক কৌশল ব্যবহার করা যেতে পারে।
                        <ul>
                            <li><mark class="highlight">উদ্ভাসিতকরণ (Visualization):</mark> এখানে স্থান, দৃশ্য, প্রতীক ইত্যাদি উপস্থাপন করে ক্রেতাকে সেবার প্রতি আকৃষ্ট করার চেষ্টা করা হয়। ফ্যান্টাসি কিংডম যেমন তাদের ভেতরকার মনোরম পরিবেশ, আকর্ষণীয় রাইড, গান, কনসার্ট ইত্যাদি বিষয়গুলো বিজ্ঞাপন চিত্রে দেখিয়ে আকর্ষণের চেষ্টা করে।</li>
                            <li><mark class="highlight">বস্তুগত উপস্থাপন (Physical representation):</mark> এখানে সেবার বিষয়টিকে যথাসম্ভব বস্তুগতভাবে বুঝানোর এবং উপস্থাপনের চেষ্টা করা হয়। যেমন- আমেরিকান এক্সপ্রেস তাদের ক্রেডিট কার্ডকে সম্পদ এবং মর্যাদার প্রতীক হিসেবে উপস্থাপনের কৌশল হিসেবে কার্ডে গোল্ড এবং প্লাটিনাম কালার ব্যবহার করেছে।</li>
                            <li><mark class="highlight">প্রামানিকীকরণ (Documentation):</mark> অনেক ক্ষেত্রে সেবার বাজারজাতকারীরা তথ্য, চিত্র, আয়নি ইত্যাদি ব্যবহার করে সেবার শ্রেষ্ঠত্ব প্রমাণের চেষ্টা করেন। ব্যাংক ও বিমা প্রতিষ্ঠান প্রায় কাজ করে থাকে। আবার অনেকেই সেবার মানের ব্যাপারে ক্রেতার আস্থা অর্জনের জন্য আন্তর্জাতিকভাবে স্বীকৃত কোন সার্টিফিকেট প্রাপ্তির বিষয়টিকে প্রমাণ হিসেবে ক্রেতার সামনে তুলে ধরেন।</li>
                        </ul>
                    </li>
                    <li><mark class="highlight">অবিচ্ছিন্নতা (Inseparability):</mark> সেবা উৎপাদিত হওয়ার সাথে সাথে ভোগ ও ব্যবহার করা হয়। তাই সেবাকে সেবা প্রদানকারী ব্যক্তি অথবা যন্ত্রপাতি থেকে পৃথক করা যায় না। বস্তুগত পণ্যের থেকে সেবার মূল পার্থক্যটা এখানেই। এ কারণেই সেবা বাজারজাতকরণের ক্ষেত্রে যে ব্যক্তি বা যন্ত্রপাতি সেবা সৃষ্টি করে তাও সেবার অংশ হয়ে যায়। সেবা গ্রহণের সময় সেবাগ্রহিতাকে অবশ্যই উপস্থিত থাকতে হয়।</li>
                    <li>
                        <mark class="highlight">বৈসাদৃশ্যতা (Variability):</mark> বিভিন্ন সময়ে সৃষ্ট সেবার মানে ব্যাপক পার্থক্য বা বৈসাদৃশ্য দেখা যায়। সেবার মান মূলত নির্ভর করে কে, কখন, কোথায় এবং কিভাবে সেবাটি দিচ্ছে বা অর্পণ করছে তার উপর। উদাহরণস্বরূপ, বাংলাদেশ বিমান প্রত্যেকটি ফ্লাইটের যাত্রীদের সমমানের সেবাদান করতে পারে না। আবার একই ব্যাংকের বিভিন্ন শাখার সেবার মানে পার্থক্য রয়েছে। সেবার মান নিয়ন্ত্রণের জন্য কোম্পানি কয়েকটি পদক্ষেপ গ্রহণ করতে পারে। যেমন-
                        <ul>
                            <li>দক্ষ কর্মী নির্বাচন এবং তাদের যথাযথ প্রশিক্ষণ।</li>
                            <li>সেবাদানের একটি সমন্বিত পরিকল্পনা গ্রহণ।</li>
                        </ul>
                    </li>
                    <li>
                        <mark class="highlight">নশ্বরতা (Perishability):</mark> সেবা উচ্চমাত্রার নশ্বর বা পচনশীল। তবে চাহিদা বেশি থাকলে পচনশীলতা তেমন ক্ষতির কারণ হয়ে দাঁড়ায় না। কিন্তু সমস্যা হচ্ছে সেবার চাহিদা খুব বেশি মাত্রায় উঠা-নামা করে। বিভিন্ন  মাসে, সপ্তাহে এমনকি প্রতি ঘণ্টায় সেবার চাহিদার হ্রাস-বৃদ্ধি ঘটে। সেবার নশ্বরতা রোধে এবং চাহিদার সাথে যোগানের অধিকতনা সমন্বয় সাধনে সেবা ফার্মের জন্য Eari Sasser নিম্নোক্ত কৌশলগুলো উল্লেখ করেছেন।
                        <ul>
                            <li>
                                <mark class="highlight">চাহিদার দিক থেকে (On the demand side):</mark> ব্যাপক চাহিদা এবং অল্প চাহিদার ক্ষেত্রে পার্থক্যমূলক মূল্য নির্ধারণের চিন্তা করা যেতে পারে যেমন-
                                <ul>
                                    <li><mark class="highlight">পার্থক্যকৃত মূল্য নির্ধারণ (Differential pricing):</mark> অফ সিজনে পর্যটন হোটেল এবং পিকনিক স্পটের ভাড়া, এমনকি বিমান ভাড়া পর্যন্ত অর্ধেক হ্রাস করা হয়।</li>
                                    <li><mark class="highlight">অসময়ে চাহিদা সৃষ্টি (Non peak demand):</mark> অসময়ে চাহিদা সৃষ্টি অথবা চাহিদাকে উজ্জীবিত রাখার পদক্ষেপ গ্রহণ করতে পারে। যেমন- রাত বারটার পর মোবাইলের কল রেট কমানো যেতে পারে।</li>
                                </ul>
                            </li>
                            <li>
                                <mark class="highlight">সরবরাহের দিক থেকে (On the supply side):</mark>
                                <ul>
                                    <li>
                                        <mark class="highlight">খন্ডকালীন কর্মী নিয়োগ (Part time employee):</mark>
                                        <ul>
                                            <li>পিক সিজনে বেশি কর্মী এবং অফ সিজনে কম কর্মী নিয়োগ দেয়া যেতে পারে।</li>
                                            <li>পিক সময়ে দক্ষতার রুটিন (Peak time efficiency): পিক সময়ে কর্মীদের দক্ষতার সাথে ব্যবহারের জন্য রুটিন তৈরি এবং তাদেরকে মানসিকভাবে প্রস্তুত রাখতে হবে।</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ol>
                <p>সেবা বাজারজাতকরণে ক্রেতারা অধিকতর প্রভাব বিস্তার করে। তাই তাদেরকে মূল্যায়ন করতে হয় অনেক বেশি। যে কোন উপায়েই হোক না কেন সেবা গ্রহিতাকে সন্তুষ্ট করা একান্ত প্রয়োজন। বাজারজাতকারীকে তার সেবা প্রমোশনের জন্য প্রয়োজনীয় বাজারজাতকরণ কৌশল ও কর্ম পরিকল্পনা বহন করতে হয়।</p>
            </article>
        </section>
    </main>
    <footer id="footer"></footer>
</body>

</html>