<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />
</head>

<body>
    <nav id="navigation" class="navigation" role="navigation"></nav>
    <main class="container">
        <section id="section-a" class="section-a">
            <h2 class="question-section">Section A</h2>
            <h3>আর্থিক হিসাববিজ্ঞান কী?</h3>
            <p>উত্তর: আর্থিক হিসাববিজ্ঞান হিসাববিজ্ঞানের একটি ক্ষেত্র যা বিনিয়োগকারী পাওনাদার এবং অন্যান্য বহিঃব্যবহারকারীদেরকে অর্থনৈতিক এবং আর্থিক তথ্যাবলি সরবরাহ করে।</p>
            <h3>AICPA পূর্ণরূপ লিখ।</h3>
            <p>উত্তর: American Institute of Certified Public Accountants</p>
            <h3>চারটি ব্যবসায়িক দলিলের নাম লিখ।</h3>
            <p>উত্তর: ডেবিট ভাউচার(Debit voucher), ক্রেডিট ভাউচার(Credit voucher), চালান(Invoice). টাকার রশিদ(Money receipts)</p>
            <h3>সংরক্ষিত আয় কী?</h3>
            <p>উত্তর: সংরক্ষিত আয় বলতে বিগত বছরগুলোসহ চলতি বছরের নেট আয়-এর ক্রমযোজিত আয়কে বোঝায়।</p>
            <h3>বিস্তৃত 'Accounting equation টি লিখ।</h3>
            <p>উত্তর: হিসাব সমীকরণের বর্ধিত রূপ হলো A = L + C + R - E - D</p>
            <h3>এফ. ও. বি./এফওবি/FOB জাহাজীকরণ কী?</h3>
            <p>উত্তর: পণ্য পরিবহণের একটি শর্ত যেখানে উল্লেখ থাকে যে, বিক্রেতা বহনকারক (জাহাজ) পর্যন্ত পণ্য বিনামূল্যে পৌঁছে দিবে এবং ক্রেতা পরিবহণ ব্যয় পরিশোধ করবে।</p>
            <h3>ডেবিট নোট কী?</h3>
            <p>উত্তর: ক্রয় ফেরত, ভুল সংশোধন বিশেষ বিশেষ অবস্থায় কোনো ব্যক্তি বা প্রতিষ্ঠান হিসাবকে ডেবিট করার প্রেক্ষিতে সংশ্লিষ্ট প্রতিষ্ঠান যে পত্র ইস্যু করে তাকে ডেবিট নোট বলে।</p>
            <h3>বিক্রয় ভাতা ও বিক্রয় ফেরতের মধ্যে মূল্য পার্থক্য কী?</h3>
            <p>উত্তর: বিক্রয় ভাতা হচ্ছে বিক্রেতা কর্তৃক ক্রেতাকে ছাড় দেওয়া আর বিক্রয় ফেরত হচ্ছে ক্রেতা কর্তৃক বিক্রেতাকে পণ্য ফেরত।</p>
            <h3>অনুপার্জিত আয়ের দুটি উদাহরণ দাও।</h3>
            <p>উত্তর: আয় অর্জিত হওয়ার পূর্বেই যে আয় অগ্রিম এবং যাকে দায় হিসেবে লিপিবদ্ধ করা হয় তাকে অনুপার্জিত আয় বলে। অগ্রিম সেবা আয় (Advance service revenue), (ii) অগ্রিম কমিশন প্রাপ্তি ( Advance commission receipt)।</p>
            <h3>অবিরত মজুদ পদ্ধতি কী?</h3>
            <p>উত্তর: অবিরত মজুত পদ্ধতি হলো এমন একটি পদ্ধতি যেখানে সারা বছর মজুত ব্যয় সংরক্ষণ করা হয় এবং বিক্রয়ের সাথে সাথে বিক্রীত পণ্যের ব্যয় গণনা করা হয়।</p>
            <h3>বিশেষ জাবেদা কী?</h3>
            <p>উত্তর: যে জাবেদার একই ধরনের লেনদেন লিপিবদ্ধ করা হয় তাকে বিশেষ জাবেদা বলে। যেমন- সরুল বাকিতে বিক্রয়।</p>
            <h3>Work Sheet কী?</h3>
            <p>উত্তর: কার্যপত্র হল এক খণ্ড আলাদা কাগজ যাতে রেওয়ামিল ও অন্যান্য আর্থিক সমন্বয়গুলি সুশৃঙ্খল ও শ্রেণিবদ্ধভাবে তোলা হয় যাতে পরবর্তীতে আর্থিক বিবরণীসমূহ তৈরীতে সুবিধা হয়।</p>
            <h3>হিসাববিজ্ঞানের সংজ্ঞা দাও। (Define accounting.)</h3>
            <p>উত্তর: হিসাববিজ্ঞান হলো এমন একটি তথ্য ব্যবস্থা যা কোন ব্যক্তি বা প্রতিষ্ঠানের আর্থিক ঘটনাসমূহ চিহ্নিতকরণ, লিপিবন্ধকরণ ও প্রক্রিয়াকরণ করে তা তথ্য ব্যবহারকারীর নিকট সরবরাহ করে।</p>
            <h3>ক্রয় মূল্য নীতি কি?(What is cost principle?)</h3>
            <p>উত্তর: কারবারের সম্পত্তিগুলোকে তাদের ক্রয়মূল্যে বা ঐতিহাসিক মূল্যে লিপিবদ্ধ করার নীতিকে ক্রয়মূল্য নীতি বলা হয়।</p>
            <h3>FASB পূর্নরূপ লেখ (Elaborate : FASB.)</h3>
            <p>উত্তর: Financial Accounting Standard Board</p>
            <h3>রক্ষণশীলতার নীতি বলতে কী বুঝ? (What do you mean by conservatism principles? )</h3>
            <p>উত্তর: সম্পদের জন্যমূল্য ও বাজার মূল্যের মধ্যে কমটি গ্রহণ করার নীতিকে এবং যখন নীট লাভ অতিমূল্যায়নের সম্ভাবনা থাকে তখন হিসাববিজ্ঞানের একটি পদ্ধতি পছন্দ করার সীমাবদ্ধতাকে রক্ষণশীলতা বলা হয়।</p>
            <h3>হিসাব তথ্যের অভ্যন্তরীণ ব্যবহারকারী কারা?(who are the internal users of accounting information?)</h3>
            <p>উত্তর: যারা প্রতিষ্ঠানের ভিতরে থেকে পরিকল্পনা ও সংগঠন করে ব্যবসাকে এগিয়ে নিয়ে যায়। যেমন: আর্থিক পরিচালক, কোম্পানির কর্মকর্তা</p>
            <h3>দুটি অস্পর্শনীয় সম্পত্তির নাম লিখ। (Write two name of intangible assets.)</h3>
            <p>উত্তর: যে সকল সম্পত্তি দেখা যায় না এবং ছোঁয়া যায় না, কিন্তু বিক্রয় মূল্য আছে সেসব সম্পত্তিকে অস্পর্শনীয় সম্পত্তি বলা হয়। যেমন- সুনাম, কপিরাইট, ট্রেডমার্ক।</p>
            <h3>2/15, n/45 দ্বারা তুমি কি বুঝ? (What do you mean by 2/15, n/45?)</h3>
            <p>উত্তর: 2/15, n/45, ১৫ দিনের মধ্যে প্রদেয় অর্থ পরিশোধ করলে ২% বাটা পাওয়া যাবে অন্যথায় সম্পূর্ণ অর্থ ৪৫ দিনের মধ্যে পরিশোধ করতে হবে।</p>
            <h3>বকেয়াভিত্তিক ধারণা কী? (What is accrual basis concept?)</h3>
            <p>উত্তর: বকেয়া ভিত্তিক হিসাববিজ্ঞান হলো এমন একটি ভিত্তি যা লেনদেনগুলো সংঘটিত হওয়ায় সময়েই আর্থিক বিবরণীতে লিপিবদ্ধ করতে হবে।</p>
            <h3>সাধারণ জাবেদা কী? (What is general journal?)</h3>
            <p>উত্তর: জাবেদার সবচেয়ে মৌলিক কাঠামোকে সাধারণ জাবেদা বলা হয়।</p>
            <h3>অগ্রিম ব্যয় কী? (What is prepaid expense?)</h3>
            <p>উত্তর: </p>
            <h3>অনিশ্চিত হিসাব কী? (What is suspense account?)</h3>
            <p>উত্তর: রেওয়ামিল অমিল হলে সাময়িকভাবে যে হিসাব খুলে রেওয়ামিল মিলানো হয় তাকে অনিশ্চিত হিসাব বলে।</p>
            <h3>সহকারী খতিয়ান কী? (What is subsidiary ledger?)</h3>
            <p>উত্তর: সমজাতীয় লেনদেন অন্তর্ভুক্ত হার এমন হিসাবগুলো যখন একটি আলাদা খতিয়ান সংরক্ষণ করা হয় তখন ওই খতিয়ানকে সহকারী খতিয়ান বলে।</p>
            <h3>AICAP প্রদত্ত হিসাব বিজ্ঞানের সংজ্ঞা টি লেখ।(Write down the definition of accounting given by AICPA)</h3>
            <p>উত্তর: অন্তত আংশিকভাবে আর্থিক প্রকৃতি বিশিষ্ট বিভিন্ন প্রকার লেনদেন ও ঘটনাসমূহকে অর্থের অঙ্কে সঠিকভাবে লিপিবদ্ধকরণ, শ্রেণীবিন্যাসকরণ ও ব্যাখ্যার আকারে সংক্ষেপণ এবং এগুলো হতে প্রাপ্ত ফলাফলকে বিশ্লেষণ করার কলাকৌশলকে হিসাববিজ্ঞান বলে।</p>
            <h3>দুটি অলীক সম্পত্তির নাম লেখ। (Write two name of fictitious assets)</h3>
            <p>উত্তর: যে অদৃশ্য সম্পত্তির বিক্রয়মূল্য নেই তাকে ডুয়া সম্পত্তি বা অলীক সম্পত্তি বলে। যেমন- প্রাথমিক খরচ(Preliminary expense), ঋণপত্রের বাট্টা (Discount undebeture) ইত্যাদি</p>
            <h3>ভ্যাট চলতি হিসাব কী? (What is VAT current account?)</h3>
            <p>উত্তর: </p>
            <h3>বিপরীত দাখিলা কী? (What is reversing entries?)</h3>
            <p>উত্তর: নির্দিষ্ট হিসাবকাল শেষে যে সমন্বয় দাখিলা দেওয়া হয়, পরবর্তী হিসাবকালের প্রথম বা পহেলা তারিখে তা বিপরীতভাবে লিখে উল্টানো দাখিলা দেওয়া হয়, এরূপ দাখিলাকে বিপরীত দাখিলা বলা হয়।</p>
            <h3>FOB শিপিং পয়েন্ট কী? (What is FOB shipping point?)</h3>
            <p>উত্তর: বিক্রেতা তার খরচ বন্দর, রেলস্টেশন বা ট্রাক স্টেশন পর্যন্ত খরচ বহন করবে এবং বাকি খরচ ক্রেতা বহন করবে এটাকে FOB শিপিং পয়েন্ট বলা হয়।</p>
            <h3>ক্রয় বাট্টা কি?(What is purchase discount?)</h3>
            <p>উত্তর: যে নগদ বাটা বাটাকৃত সময়ের মধ্যে অর্থ পরিশোধ করলে ক্রেতা দাবি করে, তাকে ক্রয় বাটা বলে।</p>
            <h3>হিসাব তথ্যের বহিঃব্যবহারকারী কারা? (Who are the external users of accounting information?)</h3>
            <p>উত্তর: হিসাব তথ্যের বহিঃব্যবহারকারী হলো: (১) বিনিয়োগকারী(Investors), (২) পাওনাদার(Creditors), (৩) ঋণদাতা(Lender), (৪) জনগণ(Public)।</p>
            <h3>ব্যাংক সমন্বয় বিবরণী কী? (What is bank reconciliation statement?)</h3>
            <p>উত্তর: কোন নির্দিষ্ট তারিখে নগদান বহি এবং ব্যাংক বিবরণীর উদ্বৃত্তের পার্থক্যের কারণ বিশ্লেষণ করে যে মিলকরণ বিবরণী প্রস্তুত করা হয় তাকে ব্যাংক সমন্বয় বিবরণী বলে।</p>
            <h3>বিক্রয়যোগ্য সিকিউরিটিজ কী? (What is marketable securities?)</h3>
            <p>উত্তর: যে সিকিউরিটি এক বছরের মধ্যে বিক্রয় করা হয়, তাকে বিক্রয়যোগ্য সিকিউরিটি বলে। যেমন- সরকারি বড়ে বিনিয়োগ, শেয়ারে বিনিয়োগ, সঞ্চয়পত্র ইত্যাদি।</p>
            <h3>পূর্নরূপ লেখ ICMAB. (Elaborate : ICMAB.)</h3>
            <p>উত্তর: Institute of Cost and Management Accountants of Bangladesh</p>
            <h3>সম্ভাব্য দায় কী? (What is contingent liabilities?)</h3>
            <p>উত্তর: সম্ভাব্য দায় হলো যে দায় ভবিষ্যতে হতে পারে বা নাও হতে পারে। যেমন- বিচারাধীন মামলা।</p>
            <h3>LCM নীতি কি?(What is LCM policy?)</h3>
            <p>উত্তর: LCM নীতি হলো ক্রয় মূল্য ও বাজার মূল্যের মধ্যে কমটি হিসাবভুক্ত করার নীতি।</p>
            <h3>হিসাববিজ্ঞানের নীতিমালা কাকে বলে? (What is accounting principles?)</h3>
            <p>উত্তর: হিসাববিজ্ঞানের তথ্য বা ভাষা যাতে সকলের নিকট একই অর্থবোধক ও গ্রহণযোগ্য হয় সেজন্য হিসাবরক্ষকগণ তাদের কার্য প্রণালীতে যে নির্দিষ্ট নিয়ম, পদ্ধতি বা প্রথা ও রীতি-নীতি প্রয়োগ করেছে তাকে হিসাববিজ্ঞানের নীতিমালা বলা হয়।</p>
            <h3>IASC এর পূর্নরূপ লেখ।(Write down the elaboration of IASC.)</h3>
            <p>উত্তর: International Accounting Standards Committee</p>
            <h3>GAAP কী? (What is GAAP?)</h3>
            <p>উত্তর: GAAP(Generally Accepted Accounting Principles) হলো আর্থিক বিবরণী তৈরি করার জন্য কতগুলো নিয়মাবলির সংগ্রহ যা সকল প্রতিষ্ঠানের নিকট সমানভাবে গ্রহণযোগ্য।</p>
            <h3>সমাপনী দাখিলা কী? (What is closing entry?)</h3>
            <p>উত্তর: সাময়িক হিসাবগুলো (নামিক হিসাব) বন্ধ করার জন্য যে দাখিলা প্রদান করা হয় তাকে সমাপনী দাখিলা বলে।</p>
            <h3>ক্রেডিট কার্ড কি? (What is credit card?)</h3>
            <p>উত্তর: যে কার্ডের মাধ্যমে কার্ডধারী বাকিতে পণ্য ক্রয়ের সুবিধা পেয়ে থাকে এবং বিক্রেতা ক্রেতার নিকট থেকে প্রাপ্য টাকা কার্ড ইস্যুকারী ব্যাংক বা প্রতিষ্ঠান থেকে আদায় করে থাকে তাকে ক্রেডিট কার্ড বলে।</p>
            <h3>মূল্য সংযোজন কর কাকে বলে? (What is value added tax?)</h3>
            <p>উত্তর: </p>
            <h3>দীর্ঘমেয়াদি দায়-এর দুটি উদাহরণ দাও। (Give two examples of long term linbilities.)</h3>
            <p>উত্তর: দীর্ঘমেয়াদী দায়ে দুটি উদাহরণ হল বন্ধকী ঋণ(mortgage loan), ডিবেঞ্চার(debenture)</p>
            <h3>আর্থিক বিবরণী বিশ্লেষণ কী? (What is financial statement analysis?)</h3>
            <p>উত্তর: একটি প্রতিষ্ঠানের আর্থিক অবস্থা ও কার্যকলাপ সম্বন্ধে অধিকতর ধারণা লাভের উদ্দেশ্যে বিবরণীর বিভিন্ন উপাদানের মধ্যকার সম্পর্ক মূল্যায়নের প্রক্রিয়ায় হচ্ছে আর্থিক বিবরণী বিশ্লেষণ।</p>
            <h3>প্রাপ্য নোট কি? (What is notes receivables?)</h3>
            <p>উত্তর: ঋণ গ্রহীতা কর্তৃক একটি নির্দিষ্ট অঙ্কের টাকা চাহিবামাত্র অথবা নির্দিষ্ট সময় পর পর প্রদানের লিখিত প্রতিজ্ঞাপর (Promissory Notes) হলো প্রাপ্য নোট (Notes Receivable)।</p>
            <h3>হিসাব চার্ট কি? (What is chart of accounts?)</h3>
            <p>উত্তর: হিসাব চার্ট হলো একটি কোম্পানীর সাধারণ লেজারের সমস্ত আর্থিক অ্যাকাউন্টের একটি সূচক।</p>
            <h3>সুনির্দিষ্ট শনাক্তকরণ পদ্ধতি কাকে বলে? (What is specific identification method?) </h3>
            <p>উত্তর: </p>
            <h3>নিত্য মজুত পদ্ধতি কাকে বলে? (What is perpetual inventory system?)</h3>
            <p>উত্তর: যে মজুত পদ্ধতিতে বিক্রয়ের সময় বিক্রীত পণ্যের ব্যয় নির্ণয় করা হয় এবং সারা বছর ধরে মজুত মূল্যায়ন করা হয় তাকে নিত্য মজুত পদ্ধতি বলে। এই পদ্ধতিতে মজুতকে সম্পদ হিসেবে বিবেচনা করা হয়।</p>
            <h3>বিক্রয় বাট্টা কী? (What is sales discount?)</h3>
            <p>উত্তর: যে নগদ বাট্টা ক্রেতা বিক্রেতার কাছে দাবি করে তাই বিক্রেতার কাছে বিক্রয় বাটা।</p>
            <h3>দুতরফা দাখিলা পদ্ধতি কী? (What is double-entry system?)</h3>
            <p>উত্তর: যে পদ্ধতিতে প্রতিটি লেনদেনের দ্বৈতসত্তা বিশ্লেষণের মাধ্যমে একটি পক্ষকে ডেবিট এবং এর সমপরিমাণ অর্থ দ্বারা অপরটিকে ক্রেডিট করে লিপিবদ্ধ করা হয়, তাকে দুতরফা দাখিলা পদ্ধতি বলে।</p>
            <h3>AAA কর্তৃক প্রদত্ত হিসাববিজ্ঞানের সংজ্ঞা দাও। (Give the definition of Accounting by AAA)</h3>
            <p>উত্তর: হিসাববিজ্ঞান হলো অর্থনৈতিক তথ্যসমূহ সনাক্তকরণ, পরিমান ও সরবরাহের মাধ্যমে এর ব্যবহারকারীদের বিচার ও সিদ্ধান্ত গ্রহণের প্রক্রিয়া।</p>
            <h3>আয়-বায় সংযোগ নীতিটি কি? (What is matching principle?)</h3>
            <p>উত্তর: আয়-ব্যয়ের সংযোগ নীতি হলো কোন হিসাবকালে অর্জিত রাজস্ব থেকে খরচকে বাদ দিয়ে নিট লাভ নির্ণয় করা</p>
            <h3>আধুনিক হিসাববিজ্ঞানের তিনটি "C" কী? (What are the three 'C's in modern Accounting?)</h3>
            <p>উত্তর: Cost, Conservatism, Consistency.</p>
            <h3>ATM এর পূর্ণ প্রকাশ কী? (Write the full meaning of ATM.)</h3>
            <p>উত্তর: Automated Teller Machine.</p>
            <h3>ভাউচার কী? (What is voucher?)</h3>
            <p>উত্তর: লেনদেনের সমর্থনে লিখিত প্রমাণপত্রকে ভাউচার বলে। এটি হলো লেনদেনের প্রামাণ্য দলিল।</p>
            <h3>ডেবিট কার্ড কী? (What is debit card?)</h3>
            <p>উত্তর: ডেবিট কার্ড নগদের সমতুল্য। এ কার্ড এমন এক ধরনের কার্ড যেটা ব্যবহারের মাধ্যমে নগদে সমপরিমাণ সুযোগ পাওয়া যায় এবং পণ্য কোনোকাটায় ব্যবহার করা যায়।</p>
            <h3>প্রাপ্য হিসাব বলতে কি বুঝ? (What do you mean by accounts receivable?)</h3>
            <p>উত্তর: ধারে পণ্য বিক্রয় বা সেবা প্রদানের ফলে অন্য কোনো ব্যক্তি বা প্রতিষ্ঠানের নিকট যে অর্থ প্রাপ্য হয় তাকে প্রাপ্য হিসাব বা দেনাদার বলে।</p>
        </section>
        <section id="section-b" class="section-b">
            <h2 class="question-section">Section B questions</h2>
            <article>
                <h3><a href="#question-1">Periodic System and Perpetual System Journal</a></h3>
                <ol>
                    <li>
                        Purchase:
                        <ul>
                            <li><a href="#purchase-1"><span class="highlight">If Purchase made on account:</span> Goods Purchased from A. Rahman for resale Tk. 3800, Terms 2/10, n/30 on May,4</a></li>
                            <li><a href="#purchase-2"><span class="highlight">If a purchase is made in cash:</span> Goods Purchased from A. Rahman for resale Tk. 3,800</a></li>
                        </ul>
                    </li>
                    <li>
                        Purchase Return And Allowances: Goods worth Tk. 300 returned to A.Rahman on May, 8
                        <ul>
                            <li><a href="#return-purchase-1"><span class="highlight">If Purchase on Account</span></a></li>
                            <li><a href="#return-purchase-2"><span class="highlight">If Purchase was on cash</span></a></li>
                        </ul>
                    </li>
                    <li>
                        Freight Cost:
                        <ul>
                            <li><a href="#freight-cost-1"><span class="highlight">If the Condition is FOB Shipping Point:</span> Paid freight cost on Merchandise purchased Tk. 150, FOB Shipping Point on May,6</a></li>
                            <li><a href="#freight-cost-2"><span class="highlight">If the Condition is FOB Destination:</span>Paid freight cost on Merchandise purchased Tk. 150, FOB Destination, on May,6</a></li>
                        </ul>
                    </li>
                    <li>
                        Purchase Discount: Paying suppliers Tk 3500 for goods purchased on Account on May 04
                        <ul>
                            <li><a href="#purchase-discount-1"><span class="highlight">If Payment is made within Discounting Period</span></a></li>
                            <li><a href="#purchase-discount-2"><span class="highlight">If Payment is made after Discounting Period</span></a></li>
                        </ul>
                    </li>
                    <li>
                        Sales: Goods Sales to Buyer on May 04, Tk. 3800. Its Sales value is 2400.
                        <ul>
                            <li><a href="#sales-1"><span class="highlight">For Credit Sales</span></a></li>
                            <li><a href="#sales-2"><span class="highlight">For cash Sales</span></a></li>
                            <li><a href="#sales-3"><span class="highlight">Journal for Goods Sold</span></a></li>
                        </ul>
                    </li>
                    <li>
                        Sales Return And Allowances: Goods worth Tk. 300 returned from the buyer on May, 8. Its Purchase value is 140.
                        <ul>
                            <li><a href="#return-sales-1"><span class="highlight">For Credit Sales</span></a></li>
                            <li><a href="#return-sales-2"><span class="highlight">For cash Sales</span></a></li>
                            <li><a href="#return-sales-3"><span class="highlight">Journal Entry for return of the Goods Sold</span></a></li>
                        </ul>
                    </li>
                    <li>
                        Sales Discount: Receive from Buyer Tk 3500 for goods Sales on Account.
                        <ul>
                            <li><a href="#sales-discount-1"><span class="highlight">If Payment is made within Discounting Period</span></a></li>
                            <li><a href="#sales-discount-2"><span class="highlight">If Payment is made after Discounting Period</span></a></li>
                        </ul>
                    </li>
                </ol>
            </article>
        </section>
        <section id="section-c" class="section-c">
            <h2 class="question-section">Section C questions</h2>
            <ol class="mb-2 custom-list">
                <li class="individual-question"> <a href="#question-sc-1">হিসাববিজ্ঞানের প্রাচীন ও আধুনিক পরিভাষাসমূহ</a></li>
                <li class="individual-question"> <a href="#question-sc-2">হিসাবের প্রকৃতি</a></li>
            </ol>
        </section>
        <section id="answers" class="answers">
            <article id="question-sc-1" class="responsive-table">
                <table>
                    <caption>হিসাববিজ্ঞানে ব্যবহৃত গুরুত্বপূর্ণ প্রাচীন ও আধুনিক পরিভাষাসমূহ</caption>
                    <tr>
                        <th>প্রাচীন পরিভাষা</th>
                        <th>আধুনিক পরিভাষা</th>
                    </tr>
                    <tr>
                        <td>কারবার (Business)</td>
                        <td>ব্যবসায় (Business)</td>
                    </tr>
                    <tr>
                        <td>নিট লাভ/নিট মুনাফা (Net profit)</td>
                        <td>নিট আয় (Net income)</td>
                    </tr>
                    <tr>
                        <td>বিবিধ পাওনাদার (Sundry creditors)</td>
                        <td>প্রদেয় হিসাব/দেয় হিসাব (Accounts payable)</td>
                    </tr>
                    <tr>
                        <td>বিবিধ দেনাদার (Sundry debtors)</td>
                        <td>প্রাপ্য হিসাব/হিসাবসমূহ (Accounts receivable)</td>
                    </tr>
                    <tr>
                        <td>আন্তঃফেরত (Returns inwards)</td>
                        <td>বিক্রয় ফেরত (Sales returns)</td>
                    </tr>
                    <tr>
                        <td>বহিঃফেরত (Returns outwards)</td>
                        <td>ক্রয় ফেরত (Purchases returns)</td>
                    </tr>
                    <tr>
                        <td>প্রদত্ত বাটা (Discount allowed)</td>
                        <td>বিক্রয় বাটা (Sales discount)</td>
                    </tr>
                    <tr>
                        <td>প্রাপ্ত বাট্টা (Discount received)</td>
                        <td>ক্রয় বাট্টা (Purchases discount)</td>
                    </tr>
                    <tr>
                        <td>ক্রয় পরিবহন (Carriage on purchases)</td>
                        <td>আন্তঃপরিবহন/অন্তর্মুখী পরিবহণ (Freight in/transportation in)</td>
                    </tr>
                    <tr>
                        <td>বিক্রয় পরিবহন (Carriage on sales)</td>
                        <td>বহিঃপরিবহন/বহির্মুখী পরিবহন (Freight out/transportation out)</td>
                    </tr>
                    <tr>
                        <td>মনিহারি (Stationery)</td>
                        <td>সম্ভার (Supplies)</td>
                    </tr>
                    <tr>
                        <td>অবচয় সঞ্চিতি (Provision for depreciation)</td>
                        <td>পুঞ্জিভূত/জমাকৃত অবচয় (Accumulated depreciation)</td>
                    </tr>
                    <tr>
                        <td>ঋণপত্র (Debenture)</td>
                        <td>বন্ড (Bond)</td>
                    </tr>
                    <tr>
                        <td>চূড়ান্ত হিসাব (Final accounts)</td>
                        <td>আর্থিক বিবরণী (Financial statements)</td>
                    </tr>
                    <tr>
                        <td>ক্রয় বিক্রয় + লাভ ক্ষতি হিসাব (Trading + Profit & loss account)</td>
                        <td>আয় বিবরণী (Income statement)</td>
                    </tr>
                    <tr>
                        <td>লাভ-ক্ষতি আবণ্টন/বিভাজন হিসাব (Profit & loss appropriation account)</td>
                        <td>সংরক্ষিত আয় হিসাব (Retained earnings account)</td>
                    </tr>
                    <tr>
                        <td>অগ্রিম প্রাপ্ত আয় (Revenue received in advance)</td>
                        <td>অনুপার্জিত/অনার্জিত আয়/রাজস্ব (Unearned revenue)</td>
                    </tr>
                    <tr>
                        <td>বকেয়া আয় (Accrued revenue)</td>
                        <td>প্রাপ্য/প্রাপ্তব্য আয়/রাজস্ব (Revenue receivable)</td>
                    </tr>
                    <tr>
                        <td>বকেয়া ব্যয় (Accrued expense)</td>
                        <td>প্রদেয়/দেয় ব্যয়/খরচ (Expense payable)</td>
                    </tr>
                    <tr>
                        <td>ঋণের সুদ (Interest on loan)</td>
                        <td>সুদ ব্যয় (Interest expense)</td>
                    </tr>
                    <tr>
                        <td>বিনিয়োগের সুদ (Interest on Investment)</td>
                        <td>সুদ আয় (Interest revenue)</td>
                    </tr>
                    <tr>
                        <td>প্রদত্ত ভাড়া (Rent paid)</td>
                        <td>ভাড়া ব্যয় (Rent expense)</td>
                    </tr>
                    <tr>
                        <td>প্রাপ্ত ভাড়া (Rent received)</td>
                        <td>ভাড়া আয় (Rent revenue)</td>
                    </tr>
                    <tr>
                        <td>প্রদেয়/দেয় বিল (Bills payable)</td>
                        <td>প্রদেয়/দেয় নোট (Notes payable)</td>
                    </tr>
                    <tr>
                        <td>সন্দেহজনক ঋণ সঞ্চিতি/কু-ঋণ সঞ্চিতি (Provision for bad & doubtful debts)</td>
                        <td>সন্দেহজনক/অনাদায়ী হিসাব (Allowance for doubtful accounts/Uncollectible accounts)</td>
                    </tr>
                    <tr>
                        <td>অতিরিক্ত পরিশোধিত মূলধন (Additional paid in capital)</td>
                        <td>শেয়ার অধিহার (Share premium)</td>
                    </tr>
                    <tr>
                        <td>প্রাপ্ত কমিশন (Commission received)</td>
                        <td>কমিশন আয় (Commission revenue)</td>
                    </tr>
                </table>
            </article>
            <article id="question-1" class="responsive-table">
                <table>
                    <caption>Periodic System VS Perpetual System</caption>
                    <tr>
                        <th>SL. No.</th>
                        <th colspan="4">Particulars</th>
                        <th>Ref</th>
                        <th>Dr. (Tk.)</th>
                        <th>Cr. (Tk.)</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td colspan="2">Perpetual System</td>
                        <td colspan="2">Periodic System</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr id="purchase-1">
                        <td>1.1</td>
                        <td colspan="2">
                            <p class="m-0">Merchandise Inventory</p>
                            <p class="m-0 cr">Accounts Payable</p>
                        </td>
                        <td colspan="2">
                            <p class="m-0">Purchase</p>
                            <p class="m-0 cr">Accounts Payable</p>
                        </td>
                        <td></td>
                        <td class="money-debit">3800</td>
                        <td class="money-credit">3800</td>
                    </tr>
                    <tr id="purchase-2">
                        <td>1.2</td>
                        <td colspan="2">
                            <p class="m-0">Merchandise Inventory</p>
                            <p class="m-0 cr">Cash</p>
                        </td>
                        <td colspan="2">
                            <p class="m-0">Purchase</p>
                            <p class="m-0 cr">Cash</p>
                        </td>
                        <td></td>
                        <td class="money-debit">3800</td>
                        <td class="money-credit">3800</td>
                    </tr>
                    <tr id="return-purchase-1">
                        <td>2.1</td>
                        <td colspan="2">
                            <p class="m-0">Accounts Payable</p>
                            <p class="m-0 cr">Merchandise Inventory</p>
                        </td>
                        <td colspan="2">
                            <p class="m-0">Accounts Payable</p>
                            <p class="m-0 cr">Purchase Returns And Allowances</p>
                        </td>
                        <td></td>
                        <td class="money-debit">300</td>
                        <td class="money-credit">300</td>
                    </tr>
                    <tr id="return-purchase-2">
                        <td>2.2</td>
                        <td colspan="2">
                            <p class="m-0">Cash</p>
                            <p class="m-0 cr">Merchandise Inventory</p>
                        </td>
                        <td colspan="2">
                            <p class="m-0">Cash</p>
                            <p class="m-0 cr">Purchase Returns And Allowances</p>
                        </td>
                        <td></td>
                        <td class="money-debit">300</td>
                        <td class="money-credit">300</td>
                    </tr>
                    <tr id="freight-cost-1">
                        <td>3.1</td>
                        <td colspan="2">
                            <p class="m-0">Merchandise Inventory</p>
                            <p class="m-0 cr">Cash</p>
                        </td>
                        <td colspan="2">
                            <p class="m-0">Freight Out/Delivery Expenses</p>
                            <p class="m-0 cr">Cash</p>
                        </td>
                        <td></td>
                        <td class="money-debit">150</td>
                        <td class="money-credit">150</td>
                    </tr>
                    <tr id="freight-cost-2">
                        <td>3.2</td>
                        <td colspan="2">
                            <p class="m-0">Freight Out/Delivery Expenses</p>
                            <p class="m-0 cr">Cash</p>
                        </td>
                        <td colspan="2">No entry if condition is FOB Destination in purchaser's book</td>
                        <td></td>
                        <td class="money-debit">150</td>
                        <td class="money-credit">150</td>
                    </tr>
                    <tr id="purchase-discount-1">
                        <td>4.1</td>
                        <td colspan="2">
                            <p class="m-0">Accounts Payable</p>
                            <p class="m-0 cr">Merchandise Inventory</p>
                            <p class="m-0 cr">Cash</p>
                        </td>
                        <td colspan="2">
                            <p class="m-0">Accounts Payable</p>
                            <p class="m-0 cr">Purchases Discount</p>
                            <p class="m-0 cr">Cash</p>
                        </td>
                        <td></td>
                        <td class="money-debit">3500</td>
                        <td class="money-credit">
                            <p class="m-0">70</p>
                            <p class="m-0">3430</p>
                        </td>
                    </tr>
                    <tr id="purchase-discount-2">
                        <td>4.2</td>
                        <td colspan="2">
                            <p class="m-0">Accounts Payable</p>
                            <p class="m-0 cr">Cash</p>
                        </td>
                        <td colspan="2">Same</td>
                        <td></td>
                        <td class="money-debit">3500</td>
                        <td class="money-credit">3500</td>
                    </tr>
                    <tr id="sales-1">
                        <td>5.1</td>
                        <td colspan="2">
                            <p class="m-0">Accounts Receivable</p>
                            <p class="m-0 cr">Sales</p>
                        </td>
                        <td colspan="2">Same</td>
                        <td></td>
                        <td class="money-debit">3800</td>
                        <td class="money-credit">3800</td>
                    </tr>
                    <tr id="sales-2">
                        <td>5.2</td>
                        <td colspan="2">
                            <p class="m-0">Cash</p>
                            <p class="m-0 cr">Sales</p>
                        </td>
                        <td colspan="2">Same</td>
                        <td></td>
                        <td class="money-debit">3800</td>
                        <td class="money-credit">3800</td>
                    </tr>
                    <tr id="sales-3">
                        <td>5.3</td>
                        <td colspan="2">
                            <p class="m-0">Cost of Goods Sold</p>
                            <p class="m-0 cr">Merchandise Inventory</p>
                        </td>
                        <td colspan="2">No entry.</td>
                        <td></td>
                        <td class="money-debit">2400</td>
                        <td class="money-credit">2400</td>
                    </tr>
                    <tr id="return-sales-1">
                        <td>6.1</td>
                        <td colspan="2">
                            <p class="m-0">Sales Returns & Allowances</p>
                            <p class="m-0 cr">Accounts Receivable</p>
                        </td>
                        <td colspan="2">Same</td>
                        <td></td>
                        <td class="money-debit">300</td>
                        <td class="money-credit">300</td>
                    </tr>
                    <tr id="return-sales-2">
                        <td>6.2</td>
                        <td colspan="2">
                            <p class="m-0">Sales Returns & Allowances</p>
                            <p class="m-0 cr">Cash</p>
                        </td>
                        <td colspan="2">Same</td>
                        <td></td>
                        <td class="money-debit">300</td>
                        <td class="money-credit">300</td>
                    </tr>
                    <tr id="return-sales-3">
                        <td>6.3</td>
                        <td colspan="2">
                            <p class="m-0">Merchandise Inventory</p>
                            <p class="m-0 cr">Cost of Goods Sold</p>
                        </td>
                        <td colspan="2">No entry.</td>
                        <td></td>
                        <td class="money-debit">140</td>
                        <td class="money-credit">140</td>
                    </tr>
                    <tr id="sales-discount-1">
                        <td>7.1</td>
                        <td colspan="2">
                            <p class="m-0">Cash</p>
                            <p class="m-0">Sales Discount</p>
                            <p class="m-0 cr">Accounts Receivable</p>
                        </td>
                        <td colspan="2">Same</td>
                        <td></td>
                        <td class="money-debit">
                            <p class="m-0">3430</p>
                            <p class="m-0">70</p>
                        </td>
                        <td class="money-credit">3500</td>
                    </tr>
                    <tr id="sales-discount-2">
                        <td>7.2</td>
                        <td colspan="2">
                            <p class="m-0">Cash</p>
                            <p class="m-0 cr">Accounts Receivable</p>
                        </td>
                        <td colspan="2">Same</td>
                        <td></td>
                        <td class="money-debit">3500</td>
                        <td class="money-credit">3500</td>
                    </tr>
                </table>
            </article>
            <article id="question-sc-2" class="responsive-table">
                <table>
                    <caption>Normal balance and Nature of Account</caption>
                    <tr>
                        <th>Name of account</th>
                        <th>Nature of account</th>
                        <th>Normal balance</th>
                        <th>Presentation in financial statement</th>
                    </tr>
                    <tr>
                        <td>Bank</td>
                        <td>Assets</td>
                        <td>Debit balance</td>
                        <td>Balance shit</td>
                    </tr>
                    <tr>
                        <td>Cash</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Accounts receivable</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Notes receivable</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Offices supplies</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Goodwill</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Merchandise inventory</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Prepaid insurance</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Machinery</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Patents</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Stock subscriptions receivable</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Investment</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Bond interest receivable</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Preliminary expenses</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Copy right</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Supplies on hand</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Stock supplies</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Other prepaid expense</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Equipment</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Building</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Land</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Trademark</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Brand</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Fixed deposit</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Research expense</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Accounts payable</td>
                        <td>Liabilities</td>
                        <td>Credit balance</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Notes payable</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Mortgage payable</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Unopened revenue</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Bond interest payable</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Short-term payable</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Dividend payable</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Income tax withheld</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Estimated liability under product warranty</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Premium on bonds payable</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Salaries payable</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Voucher payable</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Capital account</td>
                        <td>Owner's equity</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Additional capital</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Income statement(Net profit)</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Common stock</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Capital stock</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Preferred stock</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Common stock dividend distribution</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Paid in capital from treasury stock</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Donated capital</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Retained earnings</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Sales</td>
                        <td>Revenue</td>
                        <td>"</td>
                        <td>Income statement</td>
                    </tr>
                    <tr>
                        <td>Interest income</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Bond interest income</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Commission income revenue</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Service revenue</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Gain of sale of assets</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Cost of goods sold</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Purchase</td>
                        <td>Expense</td>
                        <td>Debit balance</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Salary expense</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Depreciation expense</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Wages expenses</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Rent expenses</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Freight in</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Insurance expenses</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>General expense</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Interest expense</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Supplies expenses</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Utility expenses</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Advertising expense</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Amortization expense</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Bond interest expense</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Depletion expense</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>uncollectible accounts expense</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Sales commission expense</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Accumulated depreciation</td>
                        <td>Contra assets</td>
                        <td>Credit balance</td>
                        <td>Balance sheet</td>
                    </tr>
                    <tr>
                        <td>Allowance for uncollectible</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Discount on notes receivables</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Allowance to reduce long-term assets to market</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Discount on bonds payable</td>
                        <td>Contra liability</td>
                        <td>Debit balance</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Discount on notes payable</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Drawings/Withdrawals</td>
                        <td>Contra owner's equity</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Unrelated loss on long-term investment</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Treasury stock</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Sales discount</td>
                        <td>Contra revenue</td>
                        <td>"</td>
                        <td>Income statement</td>
                    </tr>
                    <tr>
                        <td>Sales returns & allowance</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Purchase discount</td>
                        <td>Contra expense</td>
                        <td>Credit balance</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>Purchase return & allowance</td>
                        <td>"</td>
                        <td>"</td>
                        <td>"</td>
                    </tr>
                </table>
            </article>
        </section>
    </main>
    <footer id="footer"></footer>
</body>

</html>