.btn {
    background-color: hsl(204, 88%, 53%);
    border: none;
    border-radius: .25rem;
    color: var(--white);
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    padding: .375rem .75rem;
    transition: background-color .15s ease-in-out;

    &:hover {
        background-color: hsl(204, 88%, 40%);
    }
}