footer {
    background-color: var(--gray-light);
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__link {
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
        color: var(--tomato);
        transition: transform 0.40s ease-in-out, margin-left 0.40s ease-in-out;

        &:hover{
            margin-left: 10px;
            transform: scale(1.25);

        }
    }
}

.social {
    font-size: 20px;

    &__item {
        list-style: none;
        display: inline;
    }

    &__link {
        color: inherit;
        text-decoration: none;
        margin: 0 5px;

        &:hover {
            padding-bottom: 5px;
            box-shadow: inset 0 -2px 0 0 var(--gray-dark);
        }
    }
}