.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: var(--white);
    background-clip: padding-box;
    border: 1px solid var(--gray-light);
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out;
}

.form {
    display: block;

    &__field {
        margin-top: 1rem;
        margin-bottom: 1rem;

        &>label {
            display: block;
            margin-bottom: 0.3125rem;
        }

        &>input,
        &>select {
            width: 100%;
            padding: .625rem;
            border-radius: 0.5rem;
            border: 2px solid #e5e7eb;
            transition: all 0.3s ease-in-out;
            background-color: #fdfdfd;
        }

        &>input:focus,
        select:focus {
            outline: none;
            border: 2px solid #5aa5be;
        }
    }
}