@use "../abstracts" as *;

.flex {
    @include flex-model();
    --row-gap: 1rem;

    @include mq(tab-port-up) {
        flex-direction: row;
        --col-gap: 2%;

        &>* {
            flex-basis: 49%;
        }
    }

    @include mq(desktop-up) {
        &>* {
            flex-basis: 32%;
        }
    }
}